[2018-12-15 17:51] srohit0 opened #9 "nnef2openvx : min *** not yet supported ***"
Using latest MIVision repo to convert nnef to openvx gives me this error

### NNEF Model excerpt

[code]

### Command
[code]

### Output

min is a basic simplifier operation supported in [NNEF specification 1.0](https://www.khronos.org/registry/NNEF/specs/1.0/nnef-1.0.html#_simplifier_operations).

### Does the converter lack full support of NNEF specification 1.0 or am I using it wrong?

regards

[2018-12-15 18:43] srohit0 opened #8 "graph.nnef Parse error"
Using latest amdovx-modules repo to convert nnef to openvx gives me this error

### NNEF model excerpt
[code]

### Script
[code]

### Output

### NNEF specification

[Section 3.2.4 of NNEF Specification Version 1.0, Revision 3, 2018-06-13](https://www.khronos.org/registry/NNEF/specs/1.0/nnef-1.0.html#document) states that semicolon **;** is part of version statement.  Here is excerpt from the spec

[2019-01-02 23:51] jlgreathouse opened #3 "MIVisionX-setup.py: git submodule update not needed"
In MIVisionX-setup.py, [line 103](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/1.0.0/MIVisionX-setup.py#L103) attempts to perform a `git submodule update --init --recursive` in the `protobuf-3.5.2` folder. However, this folder comes from a release .zip file, rather than from a `git clone`. As such, it is not a git repository (it has no `.git` folder).

When I try to run

[2019-01-03 00:04] jlgreathouse opened #4 "MIVisionX-setup.py: Broken inside Docker container without sudo"
Many basic Docker containers start with a very minimal system installation and with a user running as root. In particular, `sudo` may not be installed by default. This will prevent the `MIVisionX-setup.py` script from completing successfully if it is run inside a basic container, since it will also fail to install all of its other dependencies when the `sudo` command is not found.

See, for exampl

[2019-01-03 00:48] jlgreathouse opened #5 "MIVisionX-setup.py: passing sudo password on command-line is completely insecure"
Currently, the `MIVisionX-setup.py` script requires you pass your sudo password as the only required command-line flag. This is extremely bad practice, as it puts your (sudo-capable) password on your screen in plaintext, adds it to bash histories, etc. I'm raising this issue because there must be some other way of doing this.

For instance, if we just barrel through the script without trying to fo

[2019-01-03 18:11] kiritigowda commented on #3
@jlgreathouse thanks for catching this. This line was used when the master branch of protobuf was cloned. If you have removed this line in your fork, please send me a pull request, else I can remove this line.

[2019-01-03 19:08] kiritigowda commented on #5
@jlgreathouse Thanks for bringing this up. I have removed sudo requirement for the script. I will push the changes into the master.

[2019-01-03 19:59] kiritigowda commented on #3
PR #6 fixes this error.

[2019-01-03 20:01] kiritigowda commented on #5
@jlgreathouse PR #6 addresses this issue.

[2019-01-03 21:43] #3 closed

[2019-01-03 21:43] #5 closed

[2019-01-04 19:53] kiritigowda commented on #4
@jlgreathouse one way to solve this is to have user input that it's a docker install and the script installs sudo at the start of the script. If you have another idea, please let me know.

[2019-01-04 20:59] jlgreathouse commented on #4
In my [Experimental ROC scripts](https://github.com/RadeonOpenCompute/Experimental_ROC/blob/roc-2.0.0/distro_install_scripts/Ubuntu/common/prepare_system_ubuntu.sh#L32), where I originally faced a problem like this, I check `which sudo` to see if the `sudo` program exists. If it doesn't, I check `whoami` to see if the user is logged in as root. If they are, this gives you an opportunity to `yum/ap

[2019-01-04 22:10] kiritigowda commented on #4
@jlgreathouse thanks, that's a good suggestion.

[2019-01-05 00:04] kiritigowda commented on #4
PR #7 fixes this issue.

[2019-01-05 00:04] #4 closed

[2019-01-18 00:52] hansely opened #26 "amd vx_opencv extension header file missing"
While trying to utilize the vx_opencv extension API calls, found a bug which the header file for vx_opencv was missing in /opt/rocm/mivisionx/include.

[2019-01-18 01:03] kiritigowda opened #27 "Model Compiler Quantization Instructions Missing"
Neural Net Model Compiler Quantization instructions and example missing.

[2019-01-19 01:15] kiritigowda commented on #26
@hansely PR #25 Fixes this issue by exporting vx_ext_opencv.h to /opt/rocm/mivisionx/include/

[2019-01-19 01:42] kiritigowda commented on #26
@hansely kernels can be accessed from within OpenVX framework using OpenVX API call vxLoadKernels(context, "vx_opencv").

[2019-01-20 19:17] kiritigowda opened #29 "Windows - build instructions missing"
* MIVisionX is missing proper windows build instructions
* MAC OS support not listed

[2019-01-21 22:19] kiritigowda commented on #29
PR #30 builds on Windows

[2019-01-21 22:20] kiritigowda commented on #29
MAC OS X support to be added separately.

[2019-01-21 22:20] #29 closed

[2019-01-25 22:01] hansely commented on #26
vx_opencv.h is still missing.
It is required in vx_ext_opencv.h

[2019-01-29 19:15] kiritigowda commented on #26
bug fixed by pr #33

[2019-01-29 19:15] #26 closed

[2019-02-04 19:28] kiritigowda opened #38 "Inference Application for Windows"
Use WinML Extensions to extend support for applications to run on Windows

- [x]  [Live Classifier](https://github.com/kiritigowda/MIVisionX-Classifier#live-image-classification) - @LakshmiKumar23

- [ ]   [Cloud Inference](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/apps/cloud_inference#cloud-inference-application) - @LakshmiKumar23 - deffered

- [x]  [YoloV2](h

[2019-02-06 19:31] kiritigowda commented on #27
PR #40 adds instructions

[2019-02-06 19:31] #27 closed

[2019-02-14 19:37] hansely commented on #8
This issue will be resolved after the nnir_to_nnef.py fix pull request.

[2019-02-16 18:47] kiritigowda opened #48 "OpenVX Extensions API Failure on windows"
API functions for the extensions do not export in the windows DLL

[2019-02-18 18:45] kiritigowda commented on #48
PR #49 Fixes this issue

[2019-02-18 18:46] kiritigowda commented on #38
@LakshmiKumar23 & @hansely PR #49 solves API Export Issues.

[2019-02-18 18:47] #48 closed

[2019-02-18 19:29] kiritigowda opened #50 "RunVX - relative path decode"
* RunVX needs to decode relative paths in the GDF to access data files dynamically.

[2019-02-26 19:15] kiritigowda commented on #38
@LakshmiKumar23 & @hansely create a pull request for the apps. We need to release this with ROCm 2.3 release

[2019-02-26 19:16] kiritigowda commented on #50
Feature need for ROCm 2.3 release

[2019-02-26 19:16] kiritigowda commented on #8
@hansely is this issue fixed?

[2019-02-26 22:39] kiritigowda opened #54 "NNEF to NNIR"
Need `nnef_to_nnir.py` to be implemented in `model_compiler/python`

[2019-02-26 23:41] kiritigowda opened #55 "Ubuntu 18.04 - Warnings"
[  0%] Running C++ protocol buffer compiler on proto/caffe.proto
Scanning dependencies of target runcl
Scanning dependencies of target openvx
Scanning dependencies of target nnef2openvx
[  1%] Building CXX object amd_openvx_extensions/amd_nn/bin/CMakeFiles/nnef2openvx.dir/src/nnef2openvx.cpp.o
Scanning dependencies of target caffe2openvx
[  2%] Building CXX object utilities/runcl/CMakeFiles/runcl.

[2019-02-28 18:06] rrawther opened #58 "Googlenet inference on fp16 fails in MIOpen fwd convolution call for fully connected layer"
Steps to reproduce.
1) take a pretrained caffemodel for googlenet.
2) convert to IR
3) quantize to fp16
4) run anntest
throws the following error
"MIOpen-1.7.1/src/ocl/convolutionocl.cpp:1129: Fwd Convolution cannot be executed due to incorrect params"

[2019-03-12 19:05] kiritigowda commented on #58
@paveltc is this a MIOpen bug? can we transfer this issue to them?

[2019-03-12 20:13] paveltc commented on #58
I have already filed this issue to them.

[2019-03-12 20:22] kiritigowda commented on #58
This bug has been reported to MIOpen team.

[2019-03-12 20:22] #58 closed

[2019-03-14 00:27] hansely opened #66 "MIVisionX Windows installer does not install the .lib files"
OpenVX.lib, vx_opencv.lib, vx_winml.lib files should be installed under $(MIVisionX_ROOT)\bin in order to be linked to certain apps.

[2019-03-16 00:17] kiritigowda opened #67 "OpenCL Include Link Error"
* MIVisionX/amd_openvx_extensions/amd_nn/CMakeLists.txt
* MIVisionX/apps/cloud_inference/server_app/CMakeLists.txt

needs

[code]

[2019-03-16 00:19] kiritigowda commented on #67
@LakshmiKumar23 Please verify if this fix does not break the normal flow in Linux.

[2019-03-19 17:37] kiritigowda commented on #54
@hansely this issue is the high priority now.

[2019-03-19 21:30] LakshmiKumar23 commented on #67
@kiritigowda Tested this after adding
`include_directories(${OpenCL_INCLUDE_DIRS})`
and it builds completely.

[2019-03-19 21:40] kiritigowda commented on #67
@LakshmiKumar23 create a pull request with those changes.

[2019-03-20 18:36] #67 closed

[2019-03-26 20:47] kiritigowda opened #70 "WinML API Updates"
Samples and Apps need to be updated to match the new API's.

[2019-03-26 23:42] kiritigowda commented on #70
* API Updates have been merged to the master branch
* Samples updated

[2019-04-02 20:11] kiritigowda commented on #38
@hansely update the WinML Yolo App to use latest API changes.

[2019-04-02 20:12] kiritigowda commented on #70
refer bug #38

[2019-04-02 20:12] #70 closed

[2019-04-02 20:13] kiritigowda commented on #66
Windows Installer for MIVisionX 1.2.0 will include lib in the release.

[2019-04-02 20:13] #66 closed

[2019-04-02 21:46] kiritigowda commented on #9
Issue #54 addresses this bug

[2019-04-02 21:46] #9 closed

[2019-04-02 21:46] kiritigowda commented on #8
refer to issue #54

[2019-04-02 21:46] #8 closed

[2019-04-03 18:18] kiritigowda commented on #38
#78 fixes this issue.

[2019-04-04 18:07] kiritigowda commented on #38
#78 merged

[2019-04-04 18:07] #38 closed

[2019-04-04 20:50] kiritigowda commented on #54
@hansely can you create a pull request for this issue.

[2019-04-08 17:58] kiritigowda commented on #50
PR #83 fixes this issue

[2019-04-08 18:00] kiritigowda commented on #54
PR #82 adds NNEF to NNIR support

[2019-04-08 18:00] #54 closed

[2019-04-08 21:04] kiritigowda commented on #50
@LakshmiKumar23 run sample gdf to test

[2019-04-08 21:36] kiritigowda opened #84 "Model Compiler - Documentation"
* Creating NNEF Model from caffe or tensor flow model
* NNEF to NNIR Flow documentation missing
* Layers supported for NNEF

[2019-04-09 20:56] hansely commented on #84
added in #88

[2019-04-09 23:50] kiritigowda commented on #84
PR #88 merged.

[2019-04-09 23:50] #84 closed

[2019-04-10 21:15] kiritigowda commented on #50
PR #86 solves the relative path decode issue.

[2019-04-10 21:15] #50 closed

[2019-04-26 02:36] kiritigowda commented on #55
@LakshmiKumar23 & @hansely can you look at these warnings on 18.04?

[2019-05-01 18:40] kiritigowda commented on #55
ROCm will end support for Ubuntu 16.04, our primary linux distribution will be 18.04 in the up comming releases.

* amd_openvx/openvx/ago/ago_kernel_api.cpp
[code]
* amd_openvx/openvx/ago/ago_util_opencl.cpp

[code]

* apps/cloud_inference/server_app/compiler.cpp

[code]

[2019-05-01 19:09] kiritigowda commented on #55
PR #104

[2019-05-01 19:09] #55 closed

[2019-05-14 00:45] kiritigowda opened #117 "onnx_to_nnir bug"
Help text refers to the old name onnx2nnir

[2019-05-14 17:23] #117 closed

[2019-05-24 18:17] kiritigowda opened #126 "NNIR Update"
Feature `--slice-groups` needs to be removed
[code]

[2019-05-25 00:23] kiritigowda opened #128 "RunVX Build error - Windows"
RunVX Failure on Windows

[2019-05-25 00:24] kiritigowda commented on #128
@LakshmiKumar23 did you have a fix for this?

[2019-05-25 21:46] oscarbg opened #130 "Can provide v1.2.0 Windows precompiled binaries?"
we have for v1.1: MIVisionX_WinML-installer.msi

[2019-05-25 21:48] kiritigowda commented on #128
#129 merged

[2019-05-25 21:48] #128 closed

[2019-05-28 22:42] kiritigowda commented on #130
@oscarbg the precompiled windows binaries are added to the release - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/releases/tag/1.2.0

[2019-05-28 22:43] kiritigowda commented on #130
Binaries released with 1.2.0 for Windows. @oscarbg I am going to close this bug, please reopen or create a new bug if you find any new issues.

[2019-05-28 22:43] #130 closed

[2019-05-29 02:57] oscarbg commented on #130
thanks!

[2019-06-04 20:26] kiritigowda commented on #126
@hansely deferred, for now, let us reopen it later.

[2019-06-04 20:26] #126 closed

[2019-06-06 00:20] kiritigowda opened #135 "Documentation: amd_media & mv_deploy"
readme me files missing in AMD_MEDIA & MV_Deploy
* need usage
* need pre-reqs

[2019-06-12 18:26] kiritigowda opened #137 "Developer - [OpenVX] Debug information missing documentation"
Developer help debug variables need to be documented

* ENABLE_DEBUG_MESSAGES
* SHOW_DEBUG_HIERARCHICAL_LEVELS
* ENABLE_LOCAL_DEBUG_MESSAGES
* ENABLE_DEBUG_DUMP_CL_BUFFERS
* AGO_BUFFER_MERGE_FLAGS
* AGO_DEFAULT_TARGET
* AGO_THREAD_CONFIG
* VX_GRAPH_ATTRIBUTE_AMD_OPTIMIZER_FLAGS
* AGO_OPENCL_PLATFORM
* AGO_OPENCL_VERSION_CHECK
* AGO_OPENCL_BUILD_OPTIONS
* AGO_OPENCL_DEVICE_INFO
* AGO_DUMP_GPU
* AGO

[2019-06-13 16:28] LakshmiKumar23 opened #138 "Developer - [OpenVX] AGO_DUMP_GRAPH - dumps wrong format for GDF"
Wrong format of GDF is dumped on setting the flag. Example: tensor-virtual needs to be replaced with virtual-tensor.

[2019-06-18 00:36] LakshmiKumar23 opened #141 "NNIR update - convert fp16 doesn't build independently"
To reproduce error:

- Convert resnet50 caffe model to nnir
- do nnir update with convert-fp16
- do nnir update with fuse-ops
-run anntest - it fails

Doing both convert-fp16 and fuse-ops together builds

[2019-06-18 22:24] rrawther commented on #141
Please check if this gets fixed after merging PR#142

[2019-07-22 18:53] kiritigowda commented on #141
@LakshmiKumar23 can you check if this bug is fixed?

[2019-07-22 20:36] LakshmiKumar23 commented on #141
@kiritigowda Yes, it fixes the bug.

[2019-07-22 21:03] kiritigowda commented on #141
PR #142 fix applied to master.

[2019-07-22 21:03] #141 closed

[2019-09-09 23:37] LakshmiKumar23 opened #172 "MIVisionX-setup.py script fails on Python 3.X"
'commands' module has deprecated in Python 3.X. Replaced by 'subprocess' module. Script fails.

[2019-09-10 13:59] bogdanul2003 opened #173 "OpenVX Framework - Kernel execution on CPU"
Hi,

I was going through the code to understand a bit the implementation and how kernels get executed in parallel on CPU in case the graph has nodes that can be executed in parallel.
Am I wrong or all nodes/kernels of a graph get executed in serial fashion on single core? At least this is what I understand when looking at agoExecuteGraph() function. Maybe for OpenCL the situation is different.

[2019-09-10 20:13] kiritigowda commented on #173
@bogdanul2003 the nodes in the graph execute serially on a single core. The nodes themselves can use the available cores to execute parallel computation.
OpenCL nodes occupy the required number of CUs when launched on a GPU.

[2019-09-13 21:12] hansely opened #176 "Preprocessing functionality for anntest"
Preprocessing functionality is needed for anntest to support certain models with normalized input.

[2019-09-16 20:25] kiritigowda opened #178 "RPP & RALI - Documentation & Readme links"
* Apps readme missing rali app details
* RPP Readme missing
* RPP Link on MIVisionX documentation produces error - https://gpuopen-professionalcompute-libraries.github.io/MIVisionX/ - (MISSING README)
* RALI utilities missing readme on main utilities reame page -- https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/utilities

[2019-09-18 10:31] bogdanul2003 commented on #173
One thing to mention, at the moment my workload is CPU based only. If I understand correctly, I need to compile the framework with OpenCL support so that I can get nodes executed in parallel on different CPU cores ? My question, I saw that I forgot to mention this, was more related to the case when you compile without opencl support.

[2019-09-19 18:02] rrawther commented on #173
@bogdanul2003 : Currently OpenCL implementation is only targeted for GPU only. We don't have an OpenCL implementation which gets executed in parallel on different CPU cores.
Are you running on Windows or Linux? We have multithreading support for windows assuming you have separate graphs created for nodes which has to run in parallel. Because of data dependency most OpenVX graphs are executed seque

[2019-09-19 20:14] kiritigowda opened #180 "OpenVX Framework - Multi-Thread CPU only implementation"
* Windows support
* Linux support

[2019-09-20 09:07] bogdanul2003 commented on #173
Thanks @rrawther . I thought that it can figure out which nodes can be executed in parallel depending on how you build your graph. Do you plan to add this feature also to the framework for CPU only workloads? Do you know if other implementations of OpenVX (Nvidia or Intel) offer this kind of optimization ?

[2019-09-27 00:26] rrawther commented on #173
@bogdanul2003 Once the nodes are submitted to GPU, they can run in parallel provided no data dependancy. OpenVX framework checks if the input data is ready before a node is executed.
We don't have much insight into Intel or NVidia. But We will be adding enhancements to our implementation in future.

[2019-09-27 07:57] bogdanul2003 commented on #173
@rrawther thanks for the clarification. Can we keep this ticket open until this feature is added ?

[2019-10-08 22:40] kiritigowda opened #191 "Setup - TurboJPEG Install"
Install TurboJPEG in MIVisionX-setup.py to get RALI by default.

[2019-10-11 17:37] kiritigowda opened #195 "Fusion Bug - Neural Network"
* Models have taken a performance hit

[2019-10-30 18:31] paolodalberto opened #203 "OpenVX Framework - one question how to specify the GPU"
I am using a prebuild example where yolo is applied to a mp4 video. The default device is GPU-0 because when the interface is created the device_id is by default 0. However, I have 3 GPUs available.

I will introduce more details but I would like to ask if there is a way to drive the device assignment as global variable or  at python interface. The code I am using is based on the MIVisionX kit tha

[2019-10-30 18:45] paolodalberto commented on #203
OK: loaded 26 kernels from libvx_nn.so
OK: OpenVX using GPU device#0 (gfx803) [OpenCL 1.2 ] [SvmCaps 0 1]
OK: annCreateInference: successful

I would like to learn how to affect the device selection at this point.

[2019-10-30 20:36] kiritigowda commented on #178
@Reza-Najafi any update on this bug?

[2019-10-30 20:37] kiritigowda commented on #135
@rrawther any update on this bug?

[2019-10-31 00:01] kiritigowda commented on #203
@paolodalberto the current OpenVX implementation is set to use the OpenCL device 0. The [code to set deviceID](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/9f6e9431f56995bec9f17564c694327c6926deb4/amd_openvx/openvx/ago/ago_util_opencl.cpp#L225).

You could also set different devices using the code sample in our app - [code](https://github.com/GPUOpen-ProfessionalCompute-

[2019-10-31 18:23] rrawther commented on #203
@paolodalberto, the way to do this is to create separate OpenVX and OpenCL contexts for each device and tie them together using vxSetContextAttribute(vx_context_for_device, VX_CONTEXT_ATTRIBUTE_AMD_OPENCL_CONTEXT, cl_context_for_device, flags). A use of this is shown in the above app mentioned by @kiritigowda

[2019-11-01 19:16] paolodalberto commented on #203
let me see what I can do ... this is not my application so I am not familiar with it.
In principle, I see in the code the ability of use environment variable you may consider to enhance the default setting.

[2019-11-02 05:07] paolodalberto opened #205 "Resnet: reproducing basic performance on Fiji"
I copied the resnet onnx files
https://s3.amazonaws.com/onnx-model-zoo/resnet/resnet50v2/resnet50v2.onnx
https://s3.amazonaws.com/onnx-model-zoo/resnet/resnet50v1/resnet50v1.onnx

Let's start with resnet v2
[code]

any help ?

Then resnet v1
`+ BASE=/opt/rocm/mivisionx/model_compiler/python
+ python3 /opt/rocm/mivisionx/model_compiler/python/onnx_to_nnir.py resnet50v1.onnx Resnet-nnir
loading ONNX

[2019-11-02 05:09] paolodalberto commented on #205
I do not do any optimization ... I will ask about optimization shortly (fuse opt does not work for resnet or squeezenet, which is in the tutorial).

Let me know how I can help ... thanks

[2019-11-03 01:54] paolodalberto commented on #205
Another test: googlenet

https://s3.amazonaws.com/download.onnx/models/opset_9/bvlc_googlenet.tar.gz
compiled using
`BASE=/opt/rocm/mivisionx/model_compiler/python

python3 ${BASE}/onnx_to_nnir.py $2 nnir${1} --input_dims 1,3,224,224
python3 ${BASE}/nnir_update.py --fuse-ops 1 nnir${1} nnir${1}-Fused
python ${BASE}/nnir_update.py --convert-fp16 1  nnir${1}-Fused nnir${1}-Fused-2
python3 ${BASE}/nn

[2019-11-06 19:27] LakshmiKumar23 commented on #205
@paolodalberto For resnet ONNX mode, we currently do not support v2. We support [https://s3.amazonaws.com/download.onnx/models/opset_8/resnet50.tar.gz]. (https://s3.amazonaws.com/download.onnx/models/opset_8/resnet50.tar.gz) from [https://github.com/onnx/models/tree/master/vision/classification/resnet/resnet50](https://github.com/onnx/models/tree/master/vision/classification/resnet/resnet50) which

[2019-11-08 20:48] emerth opened #208 "Linux prerequisite error."
This software needs a running X server even to simply run MIVisionX-setup.py. Which is fine. But people running GPU compute are often running headless...

How about adding "X Window" to the list of Linux prereqs?

[2019-11-12 05:22] urugn opened #209 "Neural Net - ERROR: calculateTensorDim: Concat: got invalid dim 1x512x26x26 for Eltwise147 (should be 1x*x13x13)"
Hi

Am trying to convert yolov3.caffemodel but am getting an error
`$/opt/rocm/mivisionx/bin/caffe2openvx --output-dir yolov3-openvx yolov3.caffemodel 1 3 416 416`
`Reading the binary file from : yolov3.caffemodel`
`ERROR: calculateTensorDim: Concat: got invalid dim 1x512x26x26 for Eltwise147 (should be 1x*x13x13)`
`$`

What can i be doing wrong? Thanx

[2019-11-12 18:12] paolodalberto commented on #205
let me check if I can reproduce performance for the other resnet. I will work during the weekend.
thank you.

[2019-11-13 21:28] kiritigowda commented on #209
@urugn can you please share your model with us. We can verify the follow. Thanks!

[2019-11-13 21:29] kiritigowda commented on #208
@emerth could you send a pull request for this? We can verify and merge it to the TOT. Thanks!

[2019-11-14 01:23] urugn commented on #209
Hi

I downloaded the model form this link.
[https://drive.google.com/file/d/1xR_y_gmBIWjrENgjXXzB4_5aSqYPeWnM/view](https://drive.google.com/file/d/1xR_y_gmBIWjrENgjXXzB4_5aSqYPeWnM/view)

Although let me also mention a few challenges I encountered.

I used **Opencv  4.1.0** installed at /opt/opencv-4.1.0
Firstly i managed to compile using opencv 4.1.0 by changing most of the scope calls in a numb

[2019-11-14 19:02] kiritigowda commented on #209
@urugn let us get you running the YoloV2 first. I am attaching the link to our inference sample on how to run the YoloV2. Please try this and I will try to investigate your issues. Thanks!

[YoloV2 Sample](https://github.com/kiritigowda/MIVisionX-Inference-Tutorial#sample-2---detection-using-pre-trained-caffe-model)

Here is the link to the full [Inference tutorial](https://github.com/kiritigowda/

[2019-11-15 07:48] urugn commented on #209
I tested the canny edge sample and it worked okey. May I ask if it is possible for you to share your already compiled **yoloV2-openvx** folder may be as a zip file that i may run it in my two Vega GPU setup? Or is the end compilation specific to custom setups? I just want to verify on my side whether my inference installation is working as expected as i can look at the samples slowly again.  At th

[2019-11-15 23:31] kiritigowda commented on #209
Attached is the YoloV2 OpenVX Files.
[yoloV2-openvx.zip](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/files/3853523/yoloV2-openvx.zip)

[2019-11-16 13:12] urugn commented on #209
Still got the `'std::out_of_range'` error upon running on that folder.

[2019-11-18 20:57] urugn commented on #209
Somehow after relinking `/usr/bin/python` to point to `usr/bin/python3` i finally got yoloV2.caffemodel to compile. But it came with a cost of changing a few c files to support opencv 4.1.0 and editing the python files to support indexing via the `list()` function under python3.

First i tried the mv_compile tutorial found at [https://github.com/rrawther/MIVisionX-OpenVX-Tutorial](https://github.c

[2019-11-18 23:14] LakshmiKumar23 commented on #205
@paolodalberto I tried the googlenet model you have specified with the latest MIVisionX and it passed our anntest. I believe you have an older version of MIVisionX since we have 32 kernels in libvx_nn.so now. Please pull the latest code. Yours specifies 26 (OK: loaded 26 kernels from libvx_nn.so)

[2019-11-22 05:45] emerth commented on #208
Sent. Thanks!

________________________________
From: Kiriti Gowda <notifications@github.com>
Sent: November 13, 2019 9:29 PM
To: GPUOpen-ProfessionalCompute-Libraries/MIVisionX <MIVisionX@noreply.github.com>
Cc: emerth <emerth@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [GPUOpen-ProfessionalCompute-Libraries/MIVisionX] Linux prerequisite error. (#208)

@emerth<https://github.c

[2019-11-27 00:22] kiritigowda commented on #208
#217 Fix

[2019-11-27 00:22] #208 closed

[2019-11-27 00:24] kiritigowda commented on #172
#216 needs to be verified to close this bug

[2019-11-27 18:51] #172 closed

[2019-12-05 20:37] kiritigowda commented on #195
@LakshmiKumar23 any update on this bug? need to close the issues with for rocm release tags for ROCm 3.0 Release.

[2019-12-05 20:38] kiritigowda commented on #176
@hansely can you look into this issue?

[2019-12-05 21:10] hansely commented on #176
Sure. Looking into it

[2019-12-10 00:23] kiritigowda opened #219 "Duplicate Data Cleanup"
Apps, samples & ADAT has sample images and other data which is replicated in all folders. Needs clean up and data consolidation.

[2019-12-10 04:35] kiritigowda commented on #219
The package will be bulky for release.

[2019-12-10 04:43] kiritigowda commented on #176
@hansely any updates on this issue?

[2019-12-10 17:59] LakshmiKumar23 commented on #176
@kiritigowda @paveltc was working on this

[2019-12-10 18:37] paveltc commented on #176
@kiritigowda You, Hansel and I need to look at the preprocessing code. It is giving incorrect values for the probabilities.

[2019-12-12 06:24] kiritigowda commented on #219
Level 1 cleanup done.

[2019-12-12 06:24] #219 closed

[2019-12-12 18:57] kiritigowda opened #223 "Optimize Package Size"
* Remove duplicates
* Consolidate images and videos
* Remove images larger than 1 MB
* Readme images are duplicated across folders, need to get them consolidated into doc/images

[2019-12-12 19:06] kiritigowda opened #224 "Move RALI utilities into Utilities folder"
* Utilities
    * augmentation_unittest -- [Rename - augmentation_unit_tests]
    * rali_performance_tests
    * rali_unittests -- [Rename - rali_unit_tests]

* Readme updates

[2019-12-13 19:11] #224 closed

[2019-12-16 21:17] kiritigowda commented on #176
@hansely can we close this issue?

[2019-12-18 21:06] kiritigowda commented on #223
level-1 optimizations merged.

[2019-12-19 01:04] LakshmiKumar23 commented on #205
@paolodalberto Any updates on the issue? Were you able to run the models?

[2019-12-20 18:42] LakshmiKumar23 commented on #209
@urugn Sorry for the delayed response. Can you try pulling the latest MIVisionX code and try running YoloV3. I am able to run the whole flow from caffe_to_nnir.py and nnir_to_openvx.py and the anntest.

Also, if you want to see a GUI version of YoloV3 working, use this branch [https://github.com/LakshmiKumar23/MIVisionX-inference-analyzer/tree/lk/detection](https://github.com/LakshmiKumar23/MIVisi

[2019-12-21 03:32] urugn commented on #209
@LakshmiKumar23 I will give it a try and re ert.

[2020-01-06 19:48] kiritigowda opened #233 "MIVisionX - OpenVX 1.3 Support"
# OpenVX 1.3

## Vision Conformance Profile

* [x] - CPU Flow
* [x] - GPU - OpenCL Flow
* [x] - GPU - HIP Flow

## Neural Net Conformance Profile

### Missing functions in the implementation
* [ ] - vxRegisterUserStructWithName
* [ ] - vxGetUserStructNameByEnum
* [ ] - vxGetUserStructEnumByName
* [ ] - vxQueryMetaFormatAttribute

[2020-01-14 21:50] #176 closed

[2020-01-16 20:59] kiritigowda commented on #178
@Reza-Najafi any updates on this? Can we close this bug?

[2020-02-13 00:52] kiritigowda opened #242 "ROCm Path Fix - Absolute Path Removal"
List of Absolute Path
[code]

[2020-03-17 19:16] kiritigowda opened #253 "CMakeLists warning"
[code]

[2020-03-17 19:18] kiritigowda commented on #253
@rrawther I will look into this issue and will let you know when to review.

[2020-03-19 18:59] kiritigowda commented on #253
@rrawther MIVisionX CMake Log

[code]

[2020-03-20 00:40] kiritigowda opened #254 "Neural Net Performance Hit"
With the ROCm version, 3.1.34 and above the NN kernels are taking a performance hit.

[2020-03-20 00:56] kiritigowda commented on #253
Update on CMakeList

[code]

[2020-03-24 19:38] kiritigowda commented on #254
**ROCm 2.10** MIOpenDriver Command Time
[code]

[2020-03-24 19:40] kiritigowda commented on #254
**ROCm 3.1** - MIOpenDriver Command Time
[code]

[2020-03-24 19:41] kiritigowda commented on #254
** Test Cases to Replicate Issue**

[code]

[2020-03-24 19:43] kiritigowda commented on #254
@paveltc & @rrawther I have the performance issue test cases isolated with MIOpenDriver commands which can be replicated with different versions of ROCm.

[2020-04-03 17:11] kiritigowda opened #260 "Validation App Updates"
Validation App needs to update and mirror the latest RALI changes.

[2020-04-06 21:55] kiritigowda commented on #254
ROCm 3.3 - MIOpenDriver CLI Timing
[code]

[2020-04-07 17:31] rrawther commented on #253
This looks good. Can you merge your changes

[2020-04-08 20:06] kiritigowda commented on #191
#263 merge fixes this issue

[2020-04-08 20:12] LakshmiKumar23 commented on #260
#262 merge fixes this issue

[2020-04-08 20:50] #191 closed

[2020-04-14 02:03] kiritigowda commented on #253
TOT MIVisionX has the changes required

[2020-04-14 02:03] #253 closed

[2020-04-14 02:04] kiritigowda commented on #135
PR #255 fixed this issue

[2020-04-14 02:04] #135 closed

[2020-04-14 02:06] kiritigowda commented on #195
@LakshmiKumar23 can we close this bug?

[2020-04-14 02:07] kiritigowda commented on #205
@paolodalberto please reopen the issue if you are having trouble with running the model.

[2020-04-14 02:07] #205 closed

[2020-04-14 02:08] kiritigowda commented on #209
@urugn are you still facing this issue? Else can we close this issue?

[2020-04-14 02:10] kiritigowda commented on #233
#232 will add support to VX Vision Conformance

[2020-04-14 18:13] urugn commented on #209
Hi

just getting back to this week. Will revert in a few days.

On Tue, Apr 14, 2020, 05:09 Kiriti Gowda <notifications@github.com> wrote:

[2020-04-18 18:21] kiritigowda commented on #254
Issue filed with MIOpen - 161

https://github.com/ROCmSoftwarePlatform/MIOpen/issues/161

[2020-04-27 22:04] kiritigowda commented on #260
With RPP 0.2 & TOT MIVisionX this is fixed.

[2020-04-27 22:04] #260 closed

[2020-04-28 20:24] hansely opened #265 "agoReleaseGraph hangs with multithreading"
agoReleaseGraph function in openvx/ago/ago_interface.cpp hangs when used with latest multithreading code

[2020-04-29 18:47] rrawther commented on #265
Fixed with resent PR

[2020-04-30 22:06] kiritigowda commented on #265
#266

[2020-04-30 22:06] #265 closed

[2020-05-01 17:09] kiritigowda opened #268 "MIVisionX Setup - Half.hpp"
Use half.hpp from official file source

[code]

[2020-05-04 19:42] kiritigowda commented on #268
Fixed in Setup

[2020-05-04 19:42] #268 closed

[2020-05-04 22:54] kiritigowda opened #270 "AMD_RPP & RALI - Hardcoded ROCm Path"
* RPP and RALI - PR #267 adds the hardcoded paths previously fixed.
* Adds hardcoded include paths

Bug -  https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/commit/f5eabaa1871e26bce3069785be9205f118132f44#r38942963

[code]

[2020-05-05 18:02] kiritigowda opened #272 "Turn of RALI & RPP on CentOS"
RPP is currently not supported on CentOS. Which should reflect in setup script by turning off RALI & RPP when CentOS or RHEL is detected.

[2020-05-05 18:08] kiritigowda opened #273 "New OS Support"
* Currently MIVisionX is supported only for CentOS 7.8 and below. Latest CentOS 8.0 release support required.

* Currently MIVisionX is supported only for Ubuntu 18.04 and below. Latest Ubuntu 20.04 LTS release support required.

[2020-05-05 19:40] #272 closed

[2020-05-06 00:29] rrawther commented on #270
@kiritigowda: When I made the PR those changes were not there I think. Because I went back to the previous commit. The hard_coded paths were there in that as well. Please double check

[2020-05-08 01:51] kiritigowda opened #277 "Warning - MV Compile"
clang warning -- MIVisionX

[code]

[2020-05-13 01:50] kiritigowda commented on #270
#279 fixes this issue

[2020-05-13 01:54] kiritigowda commented on #242
#279 fixes most of the hardcoded issues. The only ones left shown below. Need another PR to fix them.

Use variable `ROCM_PATH`

[code]

[2020-05-14 19:54] #270 closed

[2020-05-18 15:51] kiritigowda commented on #242
#284 fixes all the critical hard coded paths.

[2020-05-18 18:36] kiritigowda commented on #242
All critical ROCm path has been fixed. The ROCm path in readme can remain. @LakshmiKumar23 I am closing this bug, if you come across any hardcoded ROCm path let us review it.

[2020-05-18 18:36] #242 closed

[2020-05-18 22:22] kiritigowda commented on #178
#286 fixes all the issues

[2020-05-18 22:22] kiritigowda commented on #178
@paveltc can you club all the RALI tests into one folder in utilities?

[2020-05-18 23:20] #178 closed

[2020-05-19 15:37] kiritigowda opened #287 "Protobuf V-3.12.0 Support"
* The current version installed by MIVisionX-setup is [Protobuf - V3.5.2](https://github.com/protocolbuffers/protobuf/releases/tag/v3.5.2)

* Need to update this to [V-3.11.4](https://github.com/protocolbuffers/protobuf/releases/tag/v3.11.4)

* Build and tests needs to be verified.

* Update all dockers with latest changes

[2020-05-19 15:40] paveltc commented on #287
@kiritigowda Should I install it manually or run MIVisionX-setup.py?

[2020-05-19 15:42] LakshmiKumar23 commented on #287
@paveltc I tried to install manually from [github ](https://github.com/linux-on-ibm-z/docs/wiki/Building-ProtoBuf-3.x#step-3-build-and-install)directly. And built it. Steps 3 onwards

[2020-05-19 15:45] kiritigowda commented on #287
Need to updates setup script

* change version to 3.11.4
[code]

* change folder name to 3.11.4

[code]

[2020-05-20 21:06] paveltc commented on #287
@kiritigowda I ran a smoke test and it seems that this version of Protobuf works fine. Perhaps we can discuss more extensive testing offline.

[2020-05-27 18:29] kiritigowda commented on #273
Dockers Created

* Ubuntu 20.04 - https://hub.docker.com/r/kiritigowda/ubuntu-20.04

* CentOS 8.1 - https://hub.docker.com/r/kiritigowda/centos-8.1

[2020-05-27 18:30] kiritigowda commented on #287
@rrawther should be upgrade to 3.11.4 or 3.12, can we check with MCW.

[2020-05-27 21:48] rrawther commented on #287
Yes. Please upgrade to 3.12

[2020-05-27 22:13] kiritigowda opened #292 "Ubuntu 20.04 LTS - Warnings"
# Warnings

* OpenVX Core

[code]

* RunVX

[code]

* RunCL

[code]

* VX_NN

[code]

[2020-05-27 22:30] kiritigowda commented on #292
* Setup Script - OpenCV dependencies missing in Ubuntu 20.04. Find alternative
[code]

[2020-05-27 22:39] kiritigowda commented on #292
CMake Version - 3.16.3 default in Ubuntu 20.04

* Warnings

[code]

[2020-05-27 23:43] kiritigowda commented on #292
* AMD RPP Warnings

[code]

[2020-05-28 00:00] kiritigowda commented on #292
* RALI

[code]

[2020-05-28 04:11] kiritigowda commented on #273
Ubuntu 20.04 - Supported with warnings with TOT MIVisionX

[2020-05-28 19:16] rrawther opened #295 "Add RALI installation instructions for training integration"

[2020-05-28 19:17] rrawther opened #296 "Add Pytorch Resnet50 training script for RALI"

[2020-06-02 22:50] hansely opened #301 "Updating node doesn't update node"
When updating the nodes in the graph (e.g. removeNode, assignCallbackNode), the node doesn't get updated since the original node is already in the trash.

[2020-06-02 23:37] LakshmiKumar23 opened #302 "Update CMake to make pybind_python automatically"

[2020-06-04 11:17] Vitaliy223 opened #305 "runvx crashes when running samples"
OS: Windows 10 2004
CPU: Ryzen 7 2700X
GPU: NVIDIA RTX 2080

I built MIVisionX 1.8 from sources in Visual Studio 2019 and tried to run samples but runvx crashed. Then I installed MIVisionX 1.6 from msi package that also doesn't work.
Message I get when running:

OK: using AMD OpenVX 1.0.1
OK: OpenVX using GPU device#0 (GeForce RTX 2080) [OpenCL 1.2 CUDA] [SvmCaps 0 1]
ERROR: clCreateCommandQueueWi

[2020-06-04 17:54] kiritigowda commented on #305
@Vitaliy223 I tried the samples from the TOT using
[code]
See the results below. We have not tested the OpenCL flow with an NVIDIA GPU
[code]

[2020-06-04 18:06] Vitaliy223 commented on #305
I also tried to compile MIVisionX with OpenCL from Nvidia CUDA Toolkit and get another error:

OK: using AMD OpenVX 1.0.1
OK: enabled graph scheduling in separate threads
OK: OpenVX scheduling 1 nodes on CPU and 3 nodes on GPU
OK: OpenVX using GPU device#0 (GeForce RTX 2080) [OpenCL 1.2 CUDA] [1]
csv,HEADER ,STATUS, COUNT,cur-ms,avg-ms,min-ms,clenqueue-ms,clwait-ms,clwrite-ms,clread-ms
OK: capturi

[2020-06-04 21:14] rrawther commented on #305
@We never validated OpenVX with OpenCL from NVidia CUDA Toolkit.  This is a new feature to support.

[2020-06-04 21:20] Vitaliy223 commented on #305
It doesn't work with any version of opencl. Thanks for your help anyway.

[2020-06-04 21:47] kiritigowda commented on #302
#307  fixes this issue

[2020-06-04 21:48] kiritigowda commented on #295
#307 has documentation in docs folder

[2020-06-05 05:12] kiritigowda commented on #305
@Vitaliy223 if you do find any resolution for this please create a pull request and we will accept it. I am going to close this bug as the GPU is not a supported or tested hardware.

Thanks!

[2020-06-05 05:12] #305 closed

[2020-06-05 05:12] kiritigowda commented on #302
@LakshmiKumar23 please test this with the PR and let me know if this works for you.

[2020-06-05 21:37] kiritigowda opened #308 "RALI Documentation"
# RALI Pybind

* need documentation for building and install
* need instructions for versions of supported python
* need all the pip3 packages
* need instructions for exporting MIVisionX and RPP lib

[2020-06-09 00:08] hansely commented on #301
This issue has been fixed in MIVisionX-Conformance branch. Tot will also be fixed when openvx 1.3 is ready.

[2020-06-09 00:08] #301 closed

[2020-06-09 20:48] kiritigowda commented on #302
Fixed on TOT

[2020-06-09 20:48] #302 closed

[2020-06-09 21:22] #308 closed

[2020-06-11 17:14] kiritigowda commented on #277
#317 fixes this issue

[2020-06-11 17:14] #277 closed

[2020-06-11 18:01] kiritigowda commented on #287
@paveltc can we rerun all the tests with V-3.12.0 - https://github.com/protocolbuffers/protobuf/releases/tag/v3.12.0, I am making changes to the setup to allow for version specification

[2020-06-11 19:57] paveltc commented on #287
@kiritigowda I'll run the tests and let you know.

[2020-06-11 21:29] kiritigowda commented on #295
#318 has info on PyTorch docker

[2020-06-16 13:46] kiritigowda opened #321 "NNEF V-1.0.3 Support"
NNEF has fixed minor bugs in the Spec and released a new version.

* Match Model Compiler to V 1.0.3
* Most of the fixed issues were filled by us, so not major changes
* Test with the latest NNEF Version

[2020-06-16 13:47] kiritigowda commented on #287
@paveltc is this good to go?

[2020-06-16 16:20] paveltc commented on #287
@kiritigowda Yes, it's good to go.

[2020-06-16 21:28] kiritigowda commented on #287
PR - #322 fixes this issue.

[2020-06-17 21:36] kiritigowda commented on #287
#322 merged

[2020-06-17 21:36] #287 closed

[2020-06-17 21:39] kiritigowda commented on #273
MIVisionX is now supported on Ubuntu 20.04 & CentOS 8 with a few compilation warnings. See issue #292

[2020-06-17 21:40] kiritigowda commented on #273
@paveltc & @LakshmiKumar23 can you verify this issue with above-provided dockers.

[2020-06-23 20:22] kiritigowda opened #326 "MIVisionX - Python3 Support"
Ubuntu 18.04 and above with the latest update and upgrade will not support python2.

Support all existing python scripts with python3.

[2020-06-23 20:23] kiritigowda commented on #321
@hansely any updates on this? Check for 1.0.3 support.

[2020-06-23 20:48] hansely commented on #321
I updated nnef to the latest version and ran the profile script and all the models were passing.
The new updates in V1.0.3 includes changes in min_max_linear_quantize node which is not supported by current nnef_to_nnir script. It will be added in the future since we don't have any models with min_max_linear_quantize node.
Here is the result of profile script.

|alexnet-caffe   |  1|   6.176|   6.1

[2020-07-01 19:13] LakshmiKumar23 opened #331 "Update gdf to write vx_type_int64 type tensor to file"
Gdf needs to be updated to write int64 type tensor to file. Writes the wrong values

[2020-07-05 12:13] luguang opened #333 "OpenVX Framework - selects Nvidia GPU but not AMD GPU"
CPU: AMD Ryzen 5 2600X
GPU1: AMD RX 580
GPU2: Nvidia Geforce GTX 1650
OS: Ubuntu 18.04
CUDA: 10.2
RoCm: 3.5 (ok on 3.3)

I installed CUDA 10.2 and RoCm 3.3 before on Ubuntu 18.04 and everything works fine with MIVisionX sample cases.

Afterwards I upgraded RoCm to 3.5 and found the case could not work. I Reinstalled Ubuntu from scratch again and found it didn't help.

Earlier on RoCm 3.3 OpenVX wo

[2020-07-07 21:31] kiritigowda commented on #273
New OS supported with a few warnings, Bugs are open for the warnings.

[2020-07-07 21:31] #273 closed

[2020-07-07 21:32] kiritigowda commented on #321
V-1.0.3 supported

[2020-07-07 21:32] #321 closed

[2020-07-09 19:14] LakshmiKumar23 commented on #331
Merged with #330

[2020-07-09 19:14] #331 closed

[2020-07-17 13:57] wsphillips opened #336 "Missing OpenVX v1.2 function: vxSetImagePixelValues"
Ref: OpenVX 1.2 specification. vxSetImagePixelValues is not implemented from what I can tell. I can't find a definition in the C++ sources, and the symbol is not exported by the libopenvx binary.

[2020-07-17 14:00] wsphillips commented on #336
nevermind, I see this is being addressed in https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/pull/232

[2020-07-17 14:00] #336 closed

[2020-07-19 20:31] wsphillips opened #338 "OpenVX Core - vxChannelCombineNode corrupting images"
There appears to be an issue with graphs that use the channel combine node. Resulting RGB images have periodic artifacts.
![airplane_test](https://user-images.githubusercontent.com/27030706/87884196-fc53f380-ca0c-11ea-8346-95c77f76ffd0.jpg)

I ran into this issue when using the [filter code example](https://github.com/rgiduthuri/openvx_tutorial/blob/master/book_samples/filter/filterImage.c) from t

[2020-07-20 21:05] rrawther opened #340 "Port inference Client app to build from CMake (instead of QT)"

[2020-07-21 22:34] hansely commented on #340
Will update the documentation regarding QMake

[2020-07-24 20:40] kiritigowda commented on #340
#344 Fixes this issue.

[2020-07-24 20:40] #340 closed

[2020-07-30 18:53] kiritigowda commented on #333
@luguang can you use the latest setup script - V1.7.13 and use TOT or V1.9.1 MIVisionX to see if your issue is fixed. Thanks!

[2020-08-10 20:39] rrawther opened #353 "add CMAKE option to build without MIOPen and vx_nn extension"

[2020-08-10 20:44] rrawther opened #354 "add option in setup.py to install MIOpen and MIOpenGemm"

[2020-08-10 21:20] kiritigowda commented on #354
The setup has MIOpen and MIOpenGEMM install by default. Do you need an option to turnoff and on the neural net requirements? @rrawther

[2020-08-18 21:51] kiritigowda commented on #354
PR #355 adds `--neural_net no` to turn off all NN setup

[2020-08-18 21:53] kiritigowda commented on #353
PR #355  adds ` -D NEURAL_NET=OFF` to turn off all NN Modules in CMakeLists

[2020-08-24 23:34] #354 closed

[2020-08-24 23:34] #353 closed

[2020-08-24 23:35] kiritigowda commented on #292
PR #357 will address this issue.

[2020-08-25 18:26] kiritigowda commented on #292
OpenVX Warnings - Linux

[code]

[2020-09-03 03:28] kiritigowda opened #362 "Neural Net - NNEF Conversion using Python3"
NNEF conversion to NNIR Failure

* Sample 3 - [Classification with VGG16 NNEF Model](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/samples/model_compiler_samples#sample-3---classification-using-pre-trained-nnef-model) Failure

[code]

[2020-09-18 22:29] kiritigowda commented on #362
@hansely can you look at this issue?

[2020-09-18 22:31] kiritigowda commented on #333
@luguang did you get a chance to look at the TOT MIVisionX. This issue should not occur with latest ROCm & MIVisionX. Please let me know if this still persists.

[2020-09-18 22:32] kiritigowda commented on #296
@rrawther we a training script in the demo app, should we include this script in MIVisionX?

[2020-09-30 23:41] hansely commented on #362
Verified that the corresponding model conversion passes inside the MIVisionx-ubuntu18.04:latest docker.

[2020-10-01 05:25] kiritigowda opened #367 "RALI - Failure due to missing package"
RALI failure due to the missing packages should not occur. The lib should quit without failure.

`rali/rali/CMakeLists.txt - find_package(Protobuf REQUIRED)`

[code]

[2020-10-01 06:46] kiritigowda opened #369 "Setup Failure - RALI"
* With setup option `--rali on --neural_net off`

* Boost failure on RPP

[code]

[2020-10-01 21:59] LakshmiKumar23 commented on #369
@kiritigowda try with 'yes/no' instead of 'on/off'

[2020-10-01 22:13] kiritigowda commented on #367
PR #368 merged

[2020-10-01 22:13] #367 closed

[2020-10-01 22:32] LakshmiKumar23 commented on #369
@kiritigowda Please add 'sudo ./b2 install threading=multi' after [line 209](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/728abbe483805336fc4a1e689cbc044586bbdd1a/MIVisionX-setup.py#L209) of the setup script

[2020-10-01 22:53] kiritigowda commented on #369
209 has below

[code]

[2020-10-01 23:12] LakshmiKumar23 commented on #369
I meant after that. That line installs the shared linked libraries. The line I sent is to add static .a files

[2020-10-02 18:00] kiritigowda commented on #369
with PR #370 this issue id fixed.

@LakshmiKumar23 why do we need static and shared? can we investigate?

[code]

[2020-10-02 18:03] LakshmiKumar23 commented on #369
@kiritigowda RPP uses the static librarires, where MIOpen the shared. We can discuss more offline

[2020-10-02 18:12] #369 closed

[2020-10-02 18:13] kiritigowda commented on #362
@hansely any updates on this?

[2020-10-02 18:40] hansely commented on #362
@kiritigowda  I filed an issue to NNEF. I am waiting for their repsponse.

[2020-10-05 23:18] kiritigowda commented on #292
Fix Ubuntu 20.04

[code]

[2020-10-05 23:25] kiritigowda commented on #292
#357 & #373 fixes most of the warning. The OpenCL warning needs to be fixed in ROCm to evaluate the rest of the issues. New Issue to be opened.

[2020-10-05 23:25] #292 closed

[2020-10-05 23:26] kiritigowda commented on #233
#372 for Vision Conformance Profile

[2020-10-16 04:16] kiritigowda opened #378 "ADAT - Improvements and Bug Fixes"
- [x] - **Hierarchy:** make optional
- [x] - **Images:** paging to reduce load time
- [x] - **Images:** fix filters
- [ ] - **Images:** add hierarchy info - optional
- [x] - **Labels:** fix discrepancies in totals
- [x] - **Labels:** link to images filter
- [ ] - **Compare:** check database or model variations before adding to page

[2020-10-16 04:19] kiritigowda commented on #378
@bijayraj list of ADAT bugs/improvement above add additional if missing

[2020-10-16 06:09] kiritigowda commented on #338
# Test

GDF - [channelCombineRGB.txt](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/files/5389509/channelCombineRGB.txt)

run sample
* Test CPU Flow
[code]
* Test GPU Flow
[code]

Test Package - [channelCombineRGB.zip](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/files/5389526/channelCombineRGB.zip)

[2020-10-18 16:45] kiritigowda commented on #362
PR #380 - Adds new instructions to use Model Compiler with Python 3

[2020-10-18 16:49] kiritigowda commented on #326
@hansely & @LakshmiKumar23 - with PR #380 we need to verify that all the python scripts in the repo work with Python3 and pip3 packages. We can close all the issues together

- [  ] : Model Compiler Python3 Support Verification
- [  ] : Setup Script install PIP3 packages
- [  ] : Samples - inference examples to use python3
- [  ] : Update all apps and utilities to use python3 complaint model compi

[2020-10-19 18:07] rrawther commented on #296
Done

[2020-10-19 18:07] #296 closed

[2020-10-20 01:53] kiritigowda commented on #338
@LakshmiKumar23 - attached is the OpenCL code & out.rgb (480x360) generated for the above graph for reference - [cl-buffer.zip](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/files/5405797/cl-buffer.zip)

[2020-10-20 11:43] LakshmiKumar23 commented on #338
@kiritigowda I don't see this issue on windows. Also, in attached OpenCL code, lines 14&15 redefine uint8.

[2020-10-29 18:00] kiritigowda commented on #378
@bijayraj for the PR #386 needs a couple of fixes before the merge. Can you look at? Thanks!

[2020-10-30 18:38] bijayraj commented on #378
New commits were made to address the issues!
All codes are now compatible with Python 2.7.

[2020-11-02 16:29] kiritigowda commented on #378
ADAT improvements merged with master #386

[2020-11-02 16:29] #378 closed

[2020-11-02 16:34] kiritigowda opened #388 "ADAT - Enhancements & New Features"
ADAT improvements for classification

* [x] - ADAT Readme updates and refactoring
* [ ] - Alternate scoring - make optional with hierarchy
* [ ] - Alternate scoring - graphs missing
* [ ] - Hierarchy info missing from Images folder
* [ ] - Move ADAT to main folder
* [ ] - Cleanup
* [ ] - Compare two files - new script to generate diff options

[2020-11-03 04:47] kiritigowda commented on #388
@bijayraj just a few issues I came across with the PR merge. You can send a PR to fix any of the above.

[2020-11-04 06:30] kiritigowda commented on #388
PR #390 - Renaming and updating documents

[2020-11-04 06:34] kiritigowda commented on #388
@LakshmiKumar23 - ADAT for object detection needs updates to match image classification

[2020-11-06 16:21] kiritigowda commented on #388
Bugs Noticed on TOT

* [ ] - Compare section graphs missing model names
* [ ] - Alternate method graphs not loading

[2020-11-17 16:01] arpu opened #394 "[loom_shell] Building on fedora 33 Linux fails of !_APPLE"
Hey,

building on fedora Linux fails on
https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/95e4d941fecaa4e24189ab4ecc5ada45d8982203/utilities/loom_shell/loom_shell_util.cpp#L518

is this only needed on windows systems?

[2020-11-17 16:05] arpu opened #395 "loom_shell - Artefacts on simpeStich Live"
Hey with a config

[code]

i get strange artefacts

![Bildschirmfoto von 2020-11-17 17-04-02](https://user-images.githubusercontent.com/14173/99414275-f278c900-28f6-11eb-95a3-b976e0c7b30c.png)

rocminfo:

[code]

[2020-11-17 16:08] arpu opened #396 "LoomSL - shader build on starts fails on gainmatrix"
Hey

with config
[code]

shader build fails on start

LOG:[status=-1] ERROR: clBuildProgram(0x7fd1ed536c30,-cl-std=CL1.2) failed(-11) for com.amd.loomsl.expcomp_compute_gainmatrix
ERROR: OpenVX call failed with status = (-1) at /home/arpu/Work/githubsources/MIVisionX/amd_openvx_extensions/amd_loomsl/live_stitch_api.cpp#2758

rocminfo:

[code]

[2020-11-17 17:29] kiritigowda commented on #395
@arpu can you send me your loom shell script and test case images.

[2020-11-17 17:31] kiritigowda commented on #394
@arpu we have not tested MIVisionX on fedora. If you have a fix that does not break existing supported operating systems, we can accept a merge request.

[2020-11-17 17:32] arpu commented on #395
i use c++ qt Gui for this but will try to make a simple loom shell sample

[2020-11-17 17:34] kiritigowda commented on #396
@arpu can you attach the loom shell script and test case images for this bug?

[2020-11-17 17:36] kiritigowda commented on #395
@arpu you can look at this [sample](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/samples#sample---1) for reference

[2020-11-17 17:42] arpu commented on #395
ok here we go using the sample but with enabled simple stich

[loomStitch-sample1.txt](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/files/5555198/loomStitch-sample1.txt)

[LoomOutputStitch.zip](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/files/5555203/LoomOutputStitch.zip)

[2020-11-17 17:45] arpu commented on #394
same error is on ubuntu LTS

[2020-11-17 17:47] arpu commented on #396
data from sample-1

[code]
[loomStitch-sample1.txt](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/files/5555233/loomStitch-sample1.txt)

[2020-11-18 20:29] arpu commented on #396
anything i can provide?

[2020-11-19 02:11] kiritigowda commented on #394
@arpu can you send me the error log, I am not able to reproduce this

[2020-11-19 03:24] arpu commented on #394
[code]

[2020-11-19 03:32] arpu commented on #394
this works for me

[code]

[2020-11-19 04:46] kiritigowda commented on #395
@arpu Running the sample on windows [`AMD Ryzen 7 PRO 3700U w/ Radeon Vega Mobile Gfx   2.30 GHz`] I had no issue seems to be isolated to Linux. Look at the image below

Also notices that you are using OpenCL 1.2
[code]
compared to `OK: OpenVX using GPU device#0 (gfx902) [OpenCL 2.0 AMD-APP (3075.12)] [SvmCaps 0 0]`

The Loom uses features from 2.0 and that might be a problem. I will investigate,

[2020-11-19 04:50] kiritigowda commented on #396
@arpu can you check why you are using OpenCL 1.2
[code]
ROCm install OpenCL 2.2

[2020-11-19 04:53] kiritigowda commented on #394
Seems like you are using the public version on OpenCL on Linux - libOpenCL - point your openCL to `/opt/rocm/opencl/lib/OpenCL.so`

[2020-11-19 04:59] arpu commented on #395
Hey, thx for looking at this

what i think the opencl kernel build should add -cl-std=CL2 ?

clinfo output is

[code]

[2020-11-19 05:05] kiritigowda commented on #395
Cool, let me know if using OpenCL 2.0 fixes all these issues. You can send a PR to add an explicit 2.0 flag.

Also, as a side note using features like seamfind and multiband blend makes the image better. See sample below

* No SeamFind

![no-seamfind](https://user-images.githubusercontent.com/16549273/99623817-c8500580-29e1-11eb-849f-3172fb8cc333.JPG)

* With SeamFind

![seamfind](https://user-ima

[2020-11-19 05:06] arpu commented on #395
ok any idea how i can set the 2.0 flag. ?

[2020-11-19 05:19] kiritigowda commented on #395
@arpu try this on your system

[code]

Then do a reboot and recompile MIVisionX. Also, check the below command on reboot. Should solve your issue

[code]

[2020-11-19 05:35] arpu commented on #395
hmm i have some new info tested with runcl in the utilies
[code]

[2020-11-19 05:37] arpu commented on #395
and info from opencl/clinfo from rocm
[code]

[2020-11-19 06:20] arpu commented on #394
hi thx a lot for your help
but it looks like i only can opencl 1.2 ?

[code]

[2020-11-19 06:30] arpu commented on #394
and same if i direct link to rocm
[code]

[2020-11-19 06:31] arpu commented on #394
could it be rocm only support opencl 1.2 on this device?

[2020-11-19 07:15] arpu commented on #395
ok from the docs:
[code]

[2020-11-19 07:27] arpu commented on #394
ah yes this can be closed! using rocm include fixed this !

[2020-11-19 07:27] #394 closed

[2020-11-19 07:50] kiritigowda commented on #395
@arpu I will look into this.

As a temporary workaround, you could boot your machine with windows and try out the flow.

[2020-11-19 07:53] kiritigowda commented on #395
@paveltc the stitch mode 1 - `simple stitch` needs to be added to test. Change sample-1

[code]

[2020-11-19 07:58] arpu commented on #395
@kiritigowda  sorry i have no windows installed

tested with simple stitch and get the Artefacts

[2020-11-19 08:01] kiritigowda commented on #254
ROCm 3.7.0-20 - MIOpenDriver CLI Timing

Looks like the performance is back to normal - noted on MIOpen Issue 161.

[code]

[2020-11-19 08:02] kiritigowda commented on #254
@paveltc and @rrawther this issue can be closed.

[2020-11-19 08:02] #254 closed

[2020-11-19 08:04] kiritigowda commented on #295
@rrawther the PRs have been merged, reopen if need more info.

[2020-11-19 08:04] #295 closed

[2020-11-19 08:05] ouyangjai opened #398 "Neural Net - Does MIVision support APU integrated GPUs in AMD APUs"
Have a device AMD Ryzen 4650U, does MIVisionX support inference on integrated GPU?

[2020-11-19 08:05] kiritigowda commented on #195
@LakshmiKumar23 any updates?

[2020-11-19 08:08] kiritigowda commented on #395
@arpu will try to resolve this soon, I have a reproducible test case. Thanks for bringing this to our attention.

[2020-11-19 08:15] kiritigowda commented on #398
@ouyangjai MIVisionX Inference is currently supported on [ROCm supported hardware](https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support).

We have not tested on 4650U, you could try Installation on supported linux distribution with your machine.

[2020-11-19 13:48] ouyangjai commented on #398
@kiritigowda Thanks for your prompt response, do you test any APU with MVisionX, from  ROCm supported hardware page.
it states that "The integrated GPUs in AMD APUs are not officially supported targets for ROCm", but some of the APUs are enabled with OpenCL runtime, it is a kind of confusing.

[2020-11-19 17:20] LakshmiKumar23 commented on #195
@kiritigowda I think this was fixed back in June/July. Can be closed.

[2020-11-19 17:21] #195 closed

[2020-11-19 18:57] kiritigowda commented on #209
@urugn is this issue resolved?

[2020-11-19 19:04] kiritigowda opened #399 "Neural Net - FP16 Flow"
# Model Conversion
* No know model conversion error

# Model Accuracy
* [ ] - VGG16 - Exhibits errors in FP16 mode
* [ ] - VGG19 - Exhibits errors in FP16 mode

# Model Performance
* No know model performance decay

@paveltc and @LakshmiKumar23 let's use this issue to track any FP16 accuracy loss or errors

[2020-11-20 02:06] arpu commented on #396
tested with opencl 2 same

[code]

[2020-11-20 09:39] urugn commented on #209
Hi

Sorry for the long silence. Its only that i lost my drive sometimes back
and only received the donor drivr a week ago am to do a head transfer from
the original drive and recover my data then resume this issue. Just hold on
a bit so that i may confirm the procedures again.

On Thu, Nov 19, 2020, 21:57 Kiriti Gowda <notifications@github.com> wrote:

[2020-11-25 19:25] arpu commented on #395
@kiritigowda  anything i could provide for help?

[2020-11-29 03:29] arpu commented on #395
ok mlooks like my gpu does not support openCl 2.0
https://github.com/RadeonOpenCompute/ROCm-OpenCL-Runtime/issues/127

anway opencl 1.2 should be good for this

[2020-12-07 01:09] kiritigowda commented on #398
@ouyangjai I tried inference on AMD APU using MIVisionX

APU - `AMD Ryzen Embedded V1605B with Radeon Vega Gfx`

[code]

To setup, your system for MIVisionX use the following

* Ubuntu 18.04
* ROCm 3.10
* BIOS option - enable IOMMU
* Use MIVisionX-setup.py to install all deps - use `--rali no`
* Build and install MIVisionX
* Use Model Compiler to convert the model and run

[2020-12-07 06:16] kiritigowda commented on #398
Reopening this issue to document MIVisionX Neural Net Flow on WIKI

[2020-12-07 09:08] ouyangjai commented on #398
Thanks for the update, i am also able to run MIVisionx on Rayzen 5 4650g

./classifier --mode 1 --image ../MIVisionX-Inference-Tutorial/data/images/img_05.JPG --model_weights ../model/squeezenet/squeezenet-openvx/weights.bin --label ../MIVisionX-Inference-Tutorial/data/sample_classification_labels.txt --model_input_dims 3,224,224 --model_output_dims 1000,1,1 --model_name SqueezeNet_ONNX
OK: loaded

[2020-12-07 19:47] kiritigowda commented on #398
@ouyangjai did you have to change any bios settings with your system or it came preset?

[2020-12-08 17:23] kiritigowda commented on #398
@paveltc we need to add v1000 into the pipeline

[2020-12-08 20:59] Mark3452 opened #405 "Neural Net - MIVisionX/samples/model_compiler_samples, Sample 3 - Classification Using Pre-Trained NNEF Model not working properly"
I've been having an issue where I can't Sample 3 working for the compiler samples, I've set it up according to the steps https://gpuopen-professionalcompute-libraries.github.io/MIVisionX/samples/model_compiler_samples/#sample-3---classification-using-pre-trained-nnef-model, the full steps i used are listed bellow.

About half the time I run the classifier it will report unclassified. I will re-run

[2020-12-08 21:54] kiritigowda commented on #405
@Mark3452 I can take a look at this.

But just as a side note, the models in the NNEF model zoo are not claiming accuracy, we don't know if these models are fully trained. You could try the sample 4 VGG-16 CAFFE model flow, as this model is known to have been trained well, you can also convert this caffe model to NNEF, using NNEF tools, if you need an NNEF flow which is accurate.

Let me know if y

[2020-12-09 12:13] arpu commented on #395
@kiritigowda  anything i can play with?  for what i understand opencl 1.2 should be good for loom

[2020-12-10 00:49] kiritigowda commented on #405
@hansely can you check the NNEF flow mentioned in this issue?

[2020-12-10 00:52] kiritigowda commented on #395
@arpu I don't think the OpenCL 1.2 will solve this issue. Some features used in the code require OpenCL 2.0+, let me verify this bug on Linux and see possible fallbacks. I will let you know once there is a resolution. Thanks!

[2020-12-10 17:20] Mark3452 commented on #405
Hi @kiritigowda,

Thanks for the fast response!

When running sample-4 i'm getting the following issue when trying to convert the caffe model to NNIR:

[code]

I will pause for about a second on "converting to AMD NNIR format in vgg16-nnir folder ..." and then say "killed"

I've also tried converting the VGG_16 caffe model listed here https://github.com/KhronosGroup/NNEF-Tools/tree/master/models,

[2020-12-12 00:28] kiritigowda commented on #405
@Mark3452 -

*  The conversion from caffe to AMD NNIR - will take some time as this model which is 0.5GB, see below, I will see if we can speed up this process or something is slowing it down.

[code]

* We are currently verifying the NNEF flow. Model accuracy is something we do not control, it depends on how the model was trained and how well it was trained.

[2020-12-12 01:30] hansely commented on #405
@Mark3452

1. caffe to nnir conversion
I was also able to convert the model with some waiting. Since the model is 0.5GB, it will take some time to convert the model depending on the cpu/gpu you are using.

2. The unclassified images in sample-3
As kiriti mentioned, these pre-trained models offered by NNEF are not very accurate.
If you see image02 you'll see a pole behind the car. I'm assuming that

[2020-12-12 01:53] hansely commented on #405
3. The caffemodel for vgg16
The pre-trained caffemodels in NNEF-zoo are all trained for batch size of 10.
That's why you are getting the following input/output dimension mismatch error.
``
validate: conv: input[1x3x224x224] weights[96x3x11x11] output[10x96x55x55]
``
Since they are not trained for single image, you'll have to update the batch size using nnir_update.py script.
Here is the example of

[2020-12-15 01:02] kiritigowda commented on #398
@ouyangjai any updates on the bios setting?

I have compiled a full instruction to enable MIVisionX on APU for computer vision and machine learning inference - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/wiki/MIVisionX-Inference-on-AMD-Accelerated-Processing-Unit-(APU)

Closing this issue, use the [wiki page](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX

[2020-12-15 01:02] #398 closed

[2020-12-15 01:05] kiritigowda commented on #405
@Mark3452 any updates on this issue?

I will close this issue. If you still need further clarification or need to install this on [APU](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/wiki/MIVisionX-Inference-on-AMD-Accelerated-Processing-Unit-(APU)) please reopen this issue.

[2020-12-15 01:05] #405 closed

[2020-12-15 18:56] Mark3452 commented on #405
Thanks for the clarification about the vgg16 model's accuracy. It might be worth it too add a note to the setup guide explaining that the models are not accurate, because I would imagine that other people could also assume that they had not set it up right when they see the poor performance.

As for the caffe to nnir conversion, I was able to get it working by changing the convert_caffe_to_ir_bin

[2020-12-16 19:28] eladmaimoni opened #410 "Neural Net - Can This framework be used with OpenCL on Windows?"
I am very confused by the various libraries offered by AMD.

- [RadeonML ](https://github.com/GPUOpen-LibrariesAndSDKs/RadeonML)offers OpenCL inference on windows. But lacks a lot of operators and seems to be abandoned.
- MIVisionX - has the amd_winml openvx extension. but it is not clear if it offers a OpenCL interoperability.
- There is also the amd_nn, I don't understand whether I should use or

[2020-12-18 00:30] kiritigowda opened #414 "MIVisionX Build - Warning"
* VX_NN RHEL Warning

[code]

* RALI

[code]

[2020-12-18 00:36] kiritigowda commented on #410
@elad8a for windows currently we offer WinML for inference path. In WinML you hand off the ONNX model to underlying libraries and don't really have control over the model optimizations, but you can choose where the model is run by using one of the options below

[code]

[2020-12-18 11:01] elad8a commented on #410
@kiritigowda like I said, I need **OpenCL Interoperability**. WinML / DirectML are based on DirectML which is based on DirectX 12.

AMD does not offer any interoperability between OpenCL & DirectX12 so I can't use this for my needs.

Is there a reason why MIOpen which is OpenCL based is not exposed to Windows Clients?

[2020-12-20 19:35] kiritigowda commented on #399
@LakshmiKumar23 can look into this below issue

[code]

[2020-12-21 03:26] LakshmiKumar23 commented on #399
@kiritigowda This error popped up when I was testing, but I commited a fix for this the in PR #404

[2020-12-22 22:12] kiritigowda commented on #414
PR #416 Cleans up warnings

[2020-12-29 01:28] #414 closed

[2021-01-04 06:45] kiritigowda commented on #362
#326 address this issue

[2021-01-04 06:45] #362 closed

[2021-01-05 05:51] kiritigowda opened #420 "VX RPP - Ubuntu 20.04 Warnings"
[code]

[2021-01-05 05:52] kiritigowda commented on #420
@shobana-mcw & @r-abishekmcw - can you look into this issue.

[2021-01-06 04:29] shobana-mcw commented on #420
We will look into it.

[2021-01-07 08:07] kiritigowda opened #422 "MIVisionX - Release/Debug Build"
* Release build by default
* debug build with all debug preferences

[2021-01-11 18:22] kiritigowda commented on #422
#423

[2021-01-11 18:22] #422 closed

[2021-01-12 06:00] kiritigowda commented on #326
@LakshmiKumar23 can you verify that all the modules are python3 ready?

[2021-01-12 13:37] arpu commented on #395
@kiritigowda any news on this?

[2021-01-12 16:01] LakshmiKumar23 commented on #326
@kiritigowda Model compiler and setup script is python3 complaint. We haven't worked on the apps yet

[2021-01-14 17:18] kiritigowda commented on #420
@shobana-mcw any update on this?

[2021-01-15 18:28] rrawther opened #425 "RALI - rali_pybind not installing on Pytorch docker"
rali_pybind distribution package is not installing when using ./run.sh in recent ROCm pytorch docker.
I think it is installing in a different path than /opt/conda/lib/python3.6...

[2021-01-15 18:29] rrawther commented on #425
@shobana-mcw @Indumathi31: Can you please take a look at this issue. I have experienced this while debugging training.

[2021-01-18 15:44] shobana-mcw commented on #420
@kiritigowda We have figured out the issue. We are creating a PR this week and will include these changes too.

[2021-01-21 20:45] kiritigowda opened #428 "Model Compiler - ONNX to NNIR Failure"
Failure to convert ONNX to NNIR

[code]

[2021-01-21 20:49] kiritigowda opened #429 "Model Compiler - NNIR FP16 Conversion"
FP16 Conversion broken

[code]

[2021-01-21 21:32] kiritigowda opened #430 "Model Compiler - NNEF Fuse Op Warning"
Using the `-fuse` operation has the following warning

[code]

[2021-01-22 03:58] kiritigowda commented on #430
@hansely changes to model compiler have to pass these tests - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/tests/neural_network_tests#mivisionx-neural-network-tests

[2021-01-22 03:59] kiritigowda commented on #429
@LakshmiKumar23 changes to model compiler have to pass these tests - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/tests/neural_network_tests#mivisionx-neural-network-tests

Look through and see if there are any gaps.

[2021-01-22 04:00] kiritigowda commented on #428
Tests - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/tests/neural_network_tests#mivisionx-neural-network-tests

[2021-01-22 04:41] kiritigowda commented on #399
#429 - Linking FP16 Errors

[2021-01-22 05:34] kiritigowda commented on #233
@paveltc

- [ ] RunVX support for 1.3 branch merging to master

[2021-01-25 21:57] rrawther opened #432 "RALI APP - Failure"
This was not happening before. Need to do regression test.
I have done some debugging and saw vxReleaseImage is where it is hanging.

[2021-01-25 23:49] rrawther commented on #425
@LakshmiKumar23 : Can you please work with @shobana-mcw to resolve this issue as soon as possible since it affects all our training scripts.

[2021-01-26 03:27] kiritigowda commented on #430
@hansely any updates on this?

[2021-01-26 03:27] kiritigowda commented on #429
@LakshmiKumar23 any updates on this?

[2021-01-27 06:42] hansely commented on #430
@kiritigowda
The fuse-ops flow is working on my machine. Can you try installing numpy on python3?

pip3 install numpy

[2021-01-27 18:34] kiritigowda commented on #430
@hansely the script installs all deps -

 https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/ced14e8eee0cb7e3c822790e2962b70c50097aa0/tests/neural_network_tests/runNeuralNetworkTests.py#L151

[2021-01-28 21:06] kiritigowda commented on #429
@paveltc can you point to the commit which starting to fail the FP16 flow?

[2021-01-29 09:18] LakshmiKumar23 commented on #429
@kiritigowda @paveltc #436 fixes this

[2021-01-29 11:22] LakshmiKumar23 commented on #428
@kiritigowda Turns out the model is not valid. Please use the below to check. We need to swap out all models like this with those that are valid
[code]

This throws an error with all the mnist models available in the [model zoo](https://github.com/onnx/models/tree/master/vision/classification/mnist)

[2021-01-30 00:07] kiritigowda commented on #429
Fixed with pr #436

[2021-01-30 00:07] #429 closed

[2021-02-01 23:30] kiritigowda commented on #233
@paveltc any updates on RunVX support for threshold?

[2021-02-02 00:06] paveltc commented on #233
@kiritigowda not yet. I need to take another look at it and possibly discuss it with you.

[2021-02-09 17:23] rrawther commented on #432
@paveltc Can you please double check if this is happening on the tot?

[2021-02-09 17:25] rrawther opened #442 "RALI - name change to rocAL"
change rali  to rocAL.
All pybind modules needs to be renamed in the first phase

[2021-02-09 19:30] kiritigowda commented on #137
Info added- https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/wiki/Developer-Tools:-OpenVX#amd-openvx-developer-tools

[2021-02-09 19:30] #137 closed

[2021-02-12 23:16] kiritigowda commented on #432
@paveltc is this verified? can this bug be closed? @rrawther

[2021-02-12 23:17] kiritigowda commented on #430
@hansely any updates on this?

[2021-02-12 23:22] kiritigowda commented on #203
Here is an environmental variable to choose the target device - `AGO_OPENCL_PLATFORM`

A list of developer tools is compiled [here](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/wiki/Developer-Tools:-OpenVX)

Feel free to reopen this issue if you still have problems.

[2021-02-12 23:22] #203 closed

[2021-02-12 23:51] paveltc commented on #432
@kiritigowda Yes, this has been fixed.

[2021-02-13 00:06] hansely commented on #430
@kiritigowda
Here is the output of the script on my system

python runNeuralNetworkTests.py --profiler_mode 8

|      Model Name      | Batch Size | Time/Batch (ms) | Time/Image (ms) |
|----------------------|------------|-----------------|-----------------|
|nnef-mnist            |1           |0.185            |0.185            |
|nnef-mnist            |2           |0.183            |0.091

[2021-02-13 00:08] hansely commented on #430
@kiritigowda
Did you tried it on your system? Or was it on a docker?

[2021-02-15 04:56] #432 closed

[2021-02-15 05:01] kiritigowda commented on #333
The developer can also choose the device by setting an environmental variable `AGO_OPENCL_PLATFORM`
[code]

[2021-02-15 05:01] #333 closed

[2021-02-17 04:32] LakshmiKumar23 commented on #428
@kiritigowda The issue is you cannot download the model from model zoo ONNX with wget. The download doesn't get complete fully. I downloaded onto my windows system and copied the whole 5MB file (in case of squeezenet) to my ubuntu system. Found this out while debugging some stuff for @paveltc. Closing this issue. MNIST doesn't throw the protobuf error either.

[code]

[2021-02-17 04:33] LakshmiKumar23 commented on #428
@kiritigowda Please close this issue

[2021-02-20 01:39] andyluo7 opened #443 "FP16 and batch size for squeezenet sample"
I can run squeezenet sample successfully with MVisionX using my Radeon VII 16GB on Ubuntu 18.04.

Then I want to use fp16=1 and do the following and an error occurred.

aluo@aluo7:~/amd/MIVisionX-Inference-Tutorial/sample-1$ python /opt/rocm/mivisionx/model_compiler/python/nnir_update.py --convert-fp16 1 squeezenet-nnir squeezenet-nnir-fp16

aluo@aluo7:~/amd/MIVisionX-Inference-Tutorial/sample-1$

[2021-02-24 09:06] LakshmiKumar23 commented on #443
@andyluo7 The [application ](https://github.com/kiritigowda/MIVisionX-Inference-Tutorial/) you are trying to use only supports FLOAT32 tensors and batch size 1. That is the reason you are seeing the errors.
@kiritigowda @rrawther We need to discuss and see if we plan to add support for FP16 and bigger batch sizes

[2021-03-05 10:59] hyperfraise opened #445 "Neural Net - inference model speed benchmarks for performance idea ?"
Hi. I've stumbled upon this and it seems very interesting. I'm very eager to see benchmarks especially on AMD integrated GPUs coming with G series APUs. But also for regular discrete GPUs such as 5700XT etc...

Do you guys have benchmarks of model speed for common deep learning models such as resnet-50 ? I can't find any on the web.

Thank you.

[2021-03-10 03:27] gitLED opened #446 "Neural Net - ONNX model for object detection inference on Windows"
Can I use the OnNX model for object detection inference in Win10?
I am confused. I see that it emphasizes that the support system does not include Windows.
The reason I want to use an AMD graphics card for deep learning reasoning is that I want to replace an NVIDIA graphics card.

![image](https://user-images.githubusercontent.com/76691514/110570787-764e0e00-8191-11eb-9d55-72684c347431.png)
![2021

[2021-03-10 06:22] kiritigowda commented on #446
@gitLED you can use the OpenVX [WinML extension](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/amd_openvx_extensions/amd_winml#amd-winml-extension) to run inference on Windows 10 with ONNX models. More info on how to build and run [here](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/amd_openvx_extensions/amd_winml#build-instructions

[2021-03-10 06:27] kiritigowda commented on #445
@hyperfraise our team does not publish the performance numbers to make available, but you can run the supported models on the supported hardware to get the performance numbers.

An example of how to run a model and list benchmark numbers is available in this [test script](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/tests/neural_network_tests#mivisionx-neural-netw

[2021-03-10 10:14] hyperfraise commented on #445
I don't have AMD IG.

So you're saying you're working on all of this, but you don't care that the public finds this useful, based on speed improvements ?

[2021-03-17 23:15] kiritigowda commented on #338
@hansely can you try this test case and verify the issue is fixed?

[2021-03-17 23:21] hansely commented on #338
@kiritigowda The channel combine is fixed.  However, the problem still remains due to channel extract issue. I am working on the fix for it.

[2021-03-18 17:44] kiritigowda commented on #446
@gitLED were you able to use the instructions and run your model using WinML Ext?

[2021-03-23 07:29] learner321 opened #454 "Which component is more recommendable between AMDMIgraphx and amd_nn in MIVisionx for inferencing"
I find that there is a MIGraphx project in ROCm repository.  And it also aims to inference in AI like amd_nn component in MIVisionx.
What's the connection between these two components. Also for decoder and encoder, there is a AMF project like amd_media component in MIVisionx. It is a little confusing to me that why there are multiple components that do the same function for AMD card and how should

[2021-03-24 06:28] #338 closed

[2021-03-24 16:17] arpu opened #456 "OpenCV - 4.X support & updates"
Hey,
any Plans to use c++ only opencv 4.x.x ?

i am on fedora and the distro package is 4.3.0-10.fc33

[2021-03-24 17:26] kiritigowda commented on #456
@arpu are you looking at OpenCV Extension or all modules to be upgraded to OpenCV 4.X?

[2021-03-24 17:34] arpu commented on #456
not sure i get some build errors with opencv4 in
[code]
for opencv4  we need

[code]

[2021-03-24 17:34] kiritigowda commented on #445
@hyperfraise our aim is definitely to provide our users with a useful library. As you can see that the full-stack codebase is open-sourced here on GitHub, generating useful metrics should be easy for the users.

As there are no secret knobs to disable performance for paid/free users in the stack, the metrics should be the same for all.

[2021-03-24 17:38] kiritigowda commented on #456
@paveltc can we check if we can support RunVX with OpenCV 4.X?

[2021-03-24 17:58] kiritigowda commented on #395
@arpu this issue has been fixed with TOT changes, can you verify and we can close this issue?

* Sample-1 with a simple stitch

[code]

<img width="1756" alt="Screen Shot 2021-03-24 at 10 57 25 AM" src="https://user-images.githubusercontent.com/16549273/112360637-c1871700-8c8f-11eb-87c5-512b625ea63f.png">

[2021-03-24 18:07] kiritigowda commented on #396
@paveltc can you check if this issue is still present on TOT ?

[2021-03-24 19:01] rrawther commented on #454
MIGraphX is for running inference with onnx models on ROCm platform.
MIVisionX is a CV-ML toolkit for computer vision and ML. amd_nn is OpenVX neural_network extension for inference deployment using OpenVX framework. AMF is for decoding and encoding input/output video/jpeg.
Currently they are two separate projects.  It depends on what you want to do? Please give some more details about your use ca

[2021-03-24 19:25] arpu commented on #395
yeahh i see the commit and want to test this
but building on my pc  has some problems now with latest master

[code]

not sure what the Problem is

[2021-03-24 20:16] kiritigowda commented on #395
@arpu looks like a linking error. Can you do a clean build following the instructions here - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/wiki/Linux#linux-build-instructions

[2021-03-24 20:18] arpu commented on #395
hmm getting working with adding the opencl so to the command line c++ build

[code]

[2021-03-24 20:19] arpu commented on #395
after this the stitching loks perfect now! thx a lot will close this and add new bugreport for the linking problem

[2021-03-24 20:19] #395 closed

[2021-03-24 20:25] arpu commented on #396
tested with latest master version still the same error

[code]

[2021-03-24 22:22] paveltc commented on #396
@kiritigowda I see the same error. You need to set the ExpoComp variable to ON in the loomShell script to see this problem. With ExpoComp off, this doesn't happen.

[2021-03-25 02:55] kiritigowda opened #458 "MIVisionX - GCC 8+ Warnings"
[code]

[2021-03-25 02:55] kiritigowda commented on #396
@rrawther can you take a look at this?

[2021-03-25 04:01] learner321 commented on #454
Thanks for your reply. For our case, we want to do the video decoding and inferencing on AMD graphic card. However, we find that there are muilty components support these features, like amd_media and AMF support video decoding, amd_nn and migprahx support inferencing. So I am confused that which should I choose, like AMF for decoding and MIgraphx for inferencing or MIvision for decoding and MIvisi

[2021-03-25 08:02] qianqing13579 opened #459 "AMD Media - Decode .264 elementary stream input"
MIVision project gives a sample to show how to decode  MP4/JPEG input files. I have run it successfully.Now I want to use .264 elementary stream input to do decoding,but I do not konw how to do it.

[2021-03-25 18:35] LakshmiKumar23 opened #460 "vxNormalizationLayer - fails during inference"
@kiritigowda  https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/160765c28c7f4d400f2e233fd7c0c05458d93e97/amd_openvx/openvx/include/VX/vx_compatibility.h#L154

[2021-03-26 17:00] kiritigowda commented on #460
Fix merged to TOT.

[2021-03-26 17:00] #460 closed

[2021-03-27 01:39] qianqing13579 commented on #459
@rrawther ,can you give me a sample to show how to decode .264 elementary stream input by using amd_media？

[2021-03-29 17:34] rrawther commented on #459
@qianqing13579 : We haven't tried elementary stream decoding using amd_media, because it uses ffmpeg api.  You can decode .mp4 files using runvx utility and a gdf. See the following

import vx_amd_media
data vid1 = scalar:STRING,"1,<file.mp4:0>"
data nvimg  = image:w,h,NV12
data loop = scalar:INT32,0
data opencl_out = scalar:INT32,0
node com.amd.amd_media.decode vid1 nvimg NULL loop opencl_out

[2021-03-30 19:37] kiritigowda commented on #458
[code]

[2021-03-31 11:17] #454 closed

[2021-03-31 19:50] kiritigowda commented on #420
Latest Warnings with C & CXX compiler ` GNU 9.3.0 `

[code]

[2021-03-31 19:52] kiritigowda commented on #458
Issue #420 captured here

[2021-03-31 19:53] kiritigowda commented on #420
VX RPPP issues fixed on TOT, warnings captured on #458

[2021-04-05 21:40] kiritigowda commented on #428
@LakshmiKumar23 still having this issue on your system, using the model you suggested

[code]

[2021-04-12 19:19] kiritigowda opened #471 "OpenCL Updates - Version Control"
# OpenCL Version Definition

On TOT the OpenCL backend defines the OpenCL Version as 2.2 when ROCm is detected. As shown below

[code]

As the Khronos OpenCL guidelines suggest - `an application may #define the preprocessor value CL_TARGET_OPENCL_VERSION before including the OpenCL API headers. ` - https://github.com/KhronosGroup/OpenCL-Headers#compiling-for-a-specific-opencl-version
[code]

Shoul

[2021-04-13 17:44] kiritigowda commented on #471
Closing this issue as per @asalmanp

[2021-04-13 17:44] #471 closed

[2021-04-14 06:44] kiritigowda commented on #233
* OpenVX CPU - Vision Feature Set Full Support
  + @paveltc can you benchmark these nodes with 1080P- [Nodes List](https://www.khronos.org/registry/OpenVX/specs/1.3/vx_khr_feature_sets/1.1/html/vx_khr_feature_sets_1_1.html#_vision_function_requirements)
  + Conformance run - `AGO_DEFAULT_TARGET=CPU LD_LIBRARY_PATH=./lib ./bin/vx_test_conformance`

* OpenVX GPU - OpenCL Vision Feature Set
  + Confo

[2021-04-14 15:10] asalmanp commented on #233
@kiritigowda this the passing run filter for HIP backend
LD_LIBRARY_PATH=./lib ./bin/vx_test_conformance --filter=-*.VirtualArray:-FastCorners.*:-HarrisCorners.*:-vxCanny.*:-*.ReplicateNode:-*.ImageContainmentRelationship:-*.GraphState:-*.MapRandomRemap:-*.OnRandomAndNatural:-*.vxWeightedAverage:-Convolve.GraphProcessing:-Gaussian3x3.GraphProcessing:-Scale.GraphProcessing:-WarpPerspective.GraphPro

[2021-04-20 13:59] kiritigowda commented on #428
ONNX flowing working - tested with runNeuralNetTest scripts.

### MODEL FORMAT: ONNX no fused OPs
|      Model Name      | Batch Size | Time/Batch (ms) | Time/Image (ms) |
|----------------------|------------|-----------------|-----------------|
|onnx-squeezenet       |1           |1.076            |1.076            |
|onnx-squeezenet       |2           |1.040            |0.520            |
|onnx-

[2021-04-20 13:59] #428 closed

[2021-04-20 14:12] kiritigowda commented on #443
@LakshmiKumar23 this sample application can not be extended to support larger batch sizes. But we can use the [validation app](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/apps/mivisionx_validation_tool) to verify for larger batch sizes. @andyluo7 can you test with TOT MIVisionX, the FP16 should work.

[2021-04-20 14:13] #445 closed

[2021-04-20 14:13] kiritigowda commented on #446
@gitLED reopen the issue if you need more info.

[2021-04-20 14:13] #446 closed

[2021-04-20 18:12] kiritigowda commented on #442
PR #478 - Level 1 name changes

[2021-04-26 18:46] kiritigowda commented on #233
@asalmanp can you give me the missing lib needed to build HIP conformance?
[code]

[2021-04-26 18:55] asalmanp commented on #233
@kiritigowda please see below. The bold text is the required libs for building HIP conformance.

cmake -DCMAKE_BUILD_TYPE=Debug -DOPENVX_INCLUDES=$OPENVX_INC/include -DOPENVX_LIBRARIES=$OPENVX_DIR/lib/libopenvx.so\**;$OPENVX_DIR/lib/libopenvx_hip.so\;/opt/rocm/hip/lib/libamdhip64.so\;**pthread\;dl\;m\;rt -DOPENVX_CONFORMANCE_VISION=ON ../OpenVX-cts

[2021-04-27 03:09] kiritigowda commented on #233
OpenVX 1.3 CPU/GPU - OpenCL/HIP support added to TOT. New Issue to track conformance to be Opened.

[2021-04-27 03:09] #233 closed

[2021-04-27 03:10] kiritigowda commented on #442
rocAL now on TOT.
rocAL - Level 2 & 3 to be opened in a new issue.

[2021-04-27 03:10] #442 closed

[2021-04-27 03:11] kiritigowda commented on #399
@paveltc can we track this issue? Maybe fixed on TOT.

[2021-04-27 04:07] kiritigowda commented on #180
Threading issues fixed on TOT, new issues to be opened for enhancement.

[2021-04-27 04:07] #180 closed

[2021-04-27 04:09] kiritigowda commented on #209
@urugn I will close this issue as this is not observed on TOT, feel free to reopen or file a new issue if you encounter it again.

[2021-04-27 04:09] #209 closed

[2021-04-27 04:16] kiritigowda commented on #430
@hansely this issue is no more observed on TOT.

CI LOG for reference- http://math-ci.rocm.amd.com/blue/organizations/jenkins/compute-rocm-dkms-no-npi-hipclang%2FShort-GPUOpen%2FMIVisionX/detail/master/55/pipeline

[code]

[2021-04-27 04:16] #430 closed

[2021-04-27 04:18] kiritigowda commented on #326
@LakshmiKumar23 & @hansely close/let me know about this issue when apps are updated.

[2021-04-27 04:19] kiritigowda commented on #425
@shobana-mcw any update on this issue?

[2021-04-27 04:25] kiritigowda opened #486 "OpenVX 1.3 - CTS Failures"
* OpenCL -
[code]
* HIP -
[code]

[2021-04-27 16:17] shobana-mcw commented on #425
We have to install using the command setup.py install instead of run.sh for conda environments. This has been conveyed to Rajy.

[2021-04-27 16:20] kiritigowda commented on #425
@LakshmiKumar23 can we make a note of this and close this issue?

@LakshmiKumar23 can we make a note of this and close this issue?

[2021-04-27 16:53] LakshmiKumar23 commented on #425
@kiritigowda Sure, I can update the README

[2021-04-27 17:04] #425 closed

[2021-04-27 17:46] kiritigowda opened #488 "HIP - Vision Test Failure"
RunVX fails to link with libopenvx.so, the exe in bin should not require .so's to be in the PATH.

Info - http://math-ci.rocm.amd.com/blue/organizations/jenkins/compute-rocm-dkms-no-npi-hipclang%2FShort-GPUOpen%2FMIVisionX/detail/PR-485/11/pipeline/491/

[code]

[2021-04-28 17:25] urugn commented on #209
Ok noted

On Tue, Apr 27, 2021, 07:09 Kiriti Gowda ***@***.***> wrote:

[2021-05-13 16:01] asalmanp commented on #486
@kiritigowda The following OpenVX 1.3 conformance tests are fixed for HIP backend:

FastCorners is fixed by PR#495
ScaleImage is fixed by PR#498 and PR#499
WarpPerspective is fixed by PR#500
Remap is fixed by PR#505

[2021-05-13 16:09] kiritigowda commented on #486
Can we remove these filters for CI testing?

[2021-05-13 16:14] asalmanp commented on #486
FastCornsers is already enabled for CI testing by #497
ScaleImage and Warpperspective will be enabled by #503 (this can be merged)
Remap will need be enabled after #505 is merged to the master (I'll submit a PR once #505 is merged)

[2021-05-13 16:21] asalmanp commented on #488
@kiritigowda I am not really sure if this is a bug. We would always need to set the LD_LIBRARY_PATH (e.g., export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/rocm/mivisionx/lib) before running the runvx. This is the case for all backends, CPU, OCL and HIP.

[2021-05-13 16:27] asalmanp commented on #458
@kiritigowda do you have a remote machine/docker that can be used to reproduce this issue?

[2021-05-14 21:11] kiritigowda commented on #458
You can use the dockers from the CI

[2021-06-02 13:34] kiritigowda commented on #326
@LakshmiKumar23 are the apps updated?

[2021-06-02 22:21] LakshmiKumar23 commented on #326
@kiritigowda Cannot update validation toolkit till rali_pybind is updated

[2021-06-04 20:31] kiritigowda opened #519 "Setup - Boost Upgrade - 1.72 -> 1.76"
@rrawther can we upgrade the Boost to the latest? Are there any blockers in doing the upgrade now?

[2021-06-16 18:30] kiritigowda commented on #519
Pavel, can you verify if we can build with boost 1.76 changing lines 205-220 in setup

boost_1_72_0 -> boost_1_76_0

https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/093ddda9ee93a5e9b9e50ef232ee57fcef95dcae/MIVisionX-setup.py#L205

[2021-06-23 01:12] rrawther opened #537 "Docker - rocAL_pybind install to pytorch dockerfile"

[2021-06-23 19:15] kiritigowda commented on #537
with the TOT - pytorch dockerfile

`sudo docker build -f docker/pytorch/mivisionx-with-pytorch.dockerfile -t pytorch-mivisionx .`

[code]

@LakshmiKumar23 can you verify the install?

[2021-06-23 19:17] kiritigowda commented on #537
@rrawther needs comprehensive changes to get rali renamed to rocAL completely.

* includes
* function name
* libs

[2021-06-23 19:40] rrawther opened #538 "OpenVX Base - naming change for vx_kernel_attribute_amd_e"
Need to change VX_KERNEL_ATTRIBUTE_AMD_OPENCL_BUFFER_ACCESS_ENABLE,
VX_KERNEL_ATTRIBUTE_AMD_OPENCL_BUFFER_UPDATE_CALLBACK and
VX_KERNEL_ATTRIBUTE_AMD_OPENCL_GLOBAL_WORK_UPDATE_CALLBACK
to more generic names to be used for both HIP and OpenCL

[2021-06-24 17:54] kiritigowda commented on #537
@LakshmiKumar23 closing this issue as we have the rocAL install on Docker. Reopen the issue if something is missing.

[2021-06-24 17:54] #537 closed

[2021-06-25 17:53] kiritigowda commented on #538
@asalmanp can you list all variables are used in HIP and any suggestions.

[2021-06-25 23:10] kiritigowda opened #541 "OpenVX Failure - halfscale_gaussian"
TOT has a regression failure. Need to find which commit caused the failure. This is  breaking our current CI flow

[code]

[2021-06-25 23:13] kiritigowda commented on #541
Test Case - `/bin/runvx -affinity:GPU -dump-profile ../MIVisionX/tests/vision_tests/gdfs/29_opticalFlowLK.gdf `

[2021-06-26 03:16] asalmanp commented on #538
@kiritigowda we can use VX_KERNEL_ATTRIBUTE_AMD_GPU_BUFFER_ACCESS_ENABLE which is more generic for both backends. the other two variables are not used in HIP and they can stay unchanged.

[2021-06-28 18:34] kiritigowda opened #542 "VXU Link Failure - AppleClang 12.0.5.12050022"
Failing due to no explicit link between openvx & vxu

[code]

[code]

[2021-06-28 18:54] kiritigowda commented on #542
with pr #543

[code]

[2021-06-28 19:22] kiritigowda commented on #541
@paveltc can you find which PR broke this?

[2021-06-29 00:55] paveltc commented on #541
@kiritigowda I regressed this a month into the past, trying several different commits. Is this even a valid test case? It says it falls back to CPU and then it gives a GPU related error. When I run TOT and specify -affinity:CPU, it runs without issue.
@asalmanp Do you have anything you can add regarding this problem?

[2021-06-29 15:23] asalmanp commented on #541
@kiritigowda @paveltc the faulting [gdf](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/tests/vision_tests/gdfs/29_opticalFlowLK.gdf) runs multiple nodes as follows (channel_extract->gaussian_pyramid->fast_corners->optical_flow_pyr_lk). Out of these nodes, only the optical_flow_pyr_lk node reverts to CPU and that's where the "falling back to CPU" message is coming f

[2021-06-29 21:54] kiritigowda commented on #542
#543 merged

[2021-06-29 21:54] #542 closed

[2021-06-29 21:55] kiritigowda commented on #541
Turning off - `MIVisionX/tests/vision_tests/gdfs/29_opticalFlowLK.gdf` test to allow CI test completion.

[2021-06-29 23:54] kiritigowda commented on #541
#544 - temporarily enables CI test cycle.

[2021-06-30 00:12] kiritigowda commented on #541
Here are two scenarios - @asalmanp @rrawther @hansely

1 - GDF with just gaussian nodes - Passes

[code]

2 - GDF with channel extract + gaussian nodes - fails - any other combination passes

[code]

[2021-07-01 00:13] kiritigowda commented on #541
Here is a single test case to reproduce the issue - `AGO_DUMP_GRAPH=1 ./bin/runvx node org.khronos.openvx.halfscale_gaussian uniform-image:1920,1080,U008,0xaa image:960,540,U008 scalar:INT32,5`

[code]

[2021-07-01 02:22] kiritigowda opened #546 "OpenVX Conformance - HIP Backend"
Conformance Build Failure on CI

[code]

[2021-07-01 02:31] kiritigowda commented on #538
@asalmanp yes, we can go ahead with your suggestion. You can create a PR for this as all the old PR's have been merged.

[2021-07-02 14:54] asalmanp commented on #546
@kiritigowda this should be a regression as we have been building conformance with HIP backend for a while now.
can you please check to see if libhsa-runtime64.so.1 and libamd_comgr.so.2 exist in /opt/rocm/lib folder?

[2021-07-06 20:12] kiritigowda commented on #538
@rrawther can you review PR #548 to see if this solves this issue?

[2021-07-08 05:44] hyongtao opened #552 "Docker Support - MIVisionX in Ubuntu20.04"
I have followed the instructions of MIVisionX docker
as the page: https://gpuopen-professionalcompute-libraries.github.io/MIVisionX/#docker

[code]
But when I run the docker, I got thses error:
[code]
Could you help me out? Thanks a lot.

[2021-07-08 21:30] kiritigowda commented on #488
Passing Vision Tests for HIP - http://math-ci.rocm.amd.com/blue/organizations/jenkins/compute-rocm-dkms-no-npi-hipclang%2FShort-GPUOpen%2FMIVisionX/detail/master/113/pipeline

Benchmark Report
--------

### Hardware: GPU

| OpenVX Node                          |Frames Count| tmp (ms) | avg (ms) | min (ms) | max (ms) |
|--------------------------------------|------------|----------|----------|-----

[2021-07-08 21:30] #488 closed

[2021-07-10 01:31] kiritigowda commented on #552
@hyongtao thanks for reporting this issue. This seems to be an issue with the image being outdated. I will update those images now. In the mean time you can also build the updated images using the dockerfiles in docker folder.

[code]

[2021-07-10 05:13] kiritigowda commented on #552
@hyongtao - The docker file is updated and this should work now

[code]
Let me know if this fixes your issue and we can close this issue.

[2021-07-10 06:06] kiritigowda commented on #546
* HIP GPU
[code]

* HIP CPU
[code]

[2021-07-10 06:06] #546 closed

[2021-07-10 06:08] kiritigowda opened #558 "OpenVX CTS Failure - vxMapRemapPatch.MapRandomRemap"
* HIP CPU Backend Failure

[code]

[2021-07-13 00:22] kiritigowda commented on #538
PR #548 merged, please open new issue if changes required @rrawther

[2021-07-13 00:22] #538 closed

[2021-07-13 00:23] kiritigowda commented on #552
@hyongtao any updates?

[2021-07-13 02:29] hyongtao commented on #552
Hi Kirit Gowda,
Thanks for your help. I will test the dockerfile this week. Nothing update.

From
Yongtao Huang
________________________________
发件人: Kiriti Gowda ***@***.***>
发送时间: 2021年7月13日 8:23
收件人: GPUOpen-ProfessionalCompute-Libraries/MIVisionX ***@***.***>
抄送: Yongtao Huang ***@***.***>; Mention ***@***.***>
主题: Re: [GPUOpen-ProfessionalCompute-Libraries/MIVisionX] Docker Support - MIVision

[2021-07-13 13:31] kiritigowda opened #561 "MIVisionX HIP - CMake Logs"
* Turn Off warnings - OpenCV, VX_NN, AMD_Media
* rocAL messages
* Found AMDRPP: /opt/rocm/rpp/lib/libamd_rpp.so - check backend
[code]

[2021-07-13 13:54] kiritigowda commented on #558
* With Full Conformance
[code]
* With Filter
[code]

[2021-07-13 21:22] kiritigowda commented on #458
#563 for CPU only build warnings fix

[2021-07-15 18:30] kiritigowda opened #565 "CMake Install Path - User defined Install PATH Support"
Use - `CMAKE_INSTALL_PREFIX` from Top layer CMake for all install locations.

[2021-07-15 21:03] paveltc opened #566 "OpenVX - Warp Perspective Bilinear and Nearest Neighbor fails with OCL and HIP"
The warp perspective kernel fails with bilinear and nearest neighbor parameters with OpenCL and HIP backends.
GDFs:
MIVisionX-tests/tree/master/openvx-test-suite/kernelGDFs/geometric-1280x720/WarpPerspective_U8_U8_Nearest.gdf
MIVisionX-tests/tree/master/openvx-test-suite/kernelGDFs/geometric-1280x720/WarpPerspective_U8_U8_Bilinear.gdf

[2021-07-17 16:12] kiritigowda commented on #565
Fix Merged

[2021-07-17 16:12] #565 closed

[2021-07-20 04:05] kiritigowda commented on #561
PR #569 fixes this issue

[2021-07-20 04:39] #561 closed

[2021-07-20 04:41] kiritigowda commented on #552
@hyongtao if this issue persists please reopen this issue. Fix #557

[2021-07-20 04:41] #552 closed

[2021-07-20 17:49] kiritigowda opened #571 "VX RPP - Backend Support"
* AMD RPP - Build with CPU/OpenCL/HIP
* VX_RPP - CPU only backend missing
* VX_RPP - link with the right backend

[2021-07-20 17:56] kiritigowda opened #572 "Setup Script - Backend Support"
MIVisionX-setup.py - Support CPU/OpenCL/HIP backend.

[2021-07-20 17:57] kiritigowda commented on #571
@asalmanp can you look into building vx_rpp with a CPU-only install.

[2021-07-22 23:03] kiritigowda opened #573 "rocAL_pybind - Install with MIVisionX"
rocAL pybind needs to be installed with rocAL through run.sh

[2021-07-22 23:10] kiritigowda commented on #573
#574 to allow app to run before the fix is added

[2021-07-27 04:50] kiritigowda commented on #519
Boost upgrade can be a user preference.

[2021-07-27 04:50] #519 closed

[2021-07-28 11:10] anilmartha opened #577 "mivisionx_openvx_classifier app build failure"
Followed the instructions from [here ](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/apps/mivisionx_openvx_classifier#build) using **mivisionx/ubuntu-18.04** docker. Seeing below error while building.

**[ 25%] Building CXX object CMakeFiles/caffeModels.dir/source/caffeModels.cpp.o
/tmp/MIVisionX/apps/mivisionx_openvx_classifier/source/caffeModels.cpp: In function

[2021-07-28 17:44] LakshmiKumar23 opened #578 "runVX - missing functionalities"
@paveltc Doesn't support following input types:
- [ ]  param struct for nodes like convolution, deconvolution and tensor matrix multiply
- [ ] vx_size for LRN node

[2021-07-29 06:03] anilmartha opened #580 "kiritigowda/ubuntu-18.04:mivisionx-level-5 docker container failure"
When launching **kiritigowda/ubuntu-18.04:mivisionx-level-5** docker container seeing below error

docker: Error response from daemon: failed to create shim: OCI runtime create failed: invalid mount {Destination::/root/.Xauthority Type:bind Source:/scratch/docker/volumes/0a199b68f742c6acbedc34c186e5179c1d617704d65e3f2e41f3f8a362d4efb2/_data Options:[rbind]}: mount destination :/root/.Xauthority no

[2021-07-29 16:51] kiritigowda commented on #580
Hi @anilmartha - I have updated the dockerfile and it looks to be working. I have provided the commands below. You can also use the dockerfiles to build your own copy of the docker locally - instructions [here](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/docker#mivisionx-docker).

Please let me know if this works, we can close this issue. Thanks!

[code]

[2021-07-29 19:58] kiritigowda commented on #580
PR #581 - pushes all the updates required to build and run docker successfully

[2021-07-29 20:07] LakshmiKumar23 commented on #577
@kiritigowda I looked into this. It seems like OpenVX removed vxNormalizationLayer from it's support [here](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/amd_openvx/openvx/include/VX/vx_khr_nn.h) from version 1.3. Can you find out why this happened?

[2021-07-29 21:02] kiritigowda commented on #577
@LakshmiKumar23 with 1.3 header updates, we moved batchNorm to  [vx_amd_nn.h](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/d4dfb0abab952fe9fc9a39df70106c36d5cc834d/amd_openvx_extensions/amd_nn/include/vx_amd_nn.h#L42) - we have to add vx_amd_nn.h to the application to fix this. I can add that.

[2021-07-29 21:59] kiritigowda commented on #577
PR #582 fixes this issue. @anilmartha thanks for filing this issue. Please let us know if you have any other issues.

[code]

[2021-07-29 21:59] #577 closed

[2021-07-29 22:05] kiritigowda commented on #580
@anilmartha - the docker hub is updated and hopefully this issue is fixed. If you see this issue persists, please reopen this issue.

[2021-07-30 05:33] anilmartha commented on #580
Hi  @kiritigowda
I tried your commands without sudo
[code]
I am still seeing the same error, is the sudo a must?

[2021-07-30 18:49] kiritigowda commented on #580
@anilmartha - A couple of things

* Does you machine have a ROCm supported GPU?
* Have you installed ROCm on the host machine?

[2021-08-02 07:38] haampie opened #583 "Remove system path from cmakelists.txt"
Could you please drop this absolute path `/opt/rocm/mivisionx/include` from https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/utilities/mv_deploy/CMakeLists.txt#L27

Ref https://github.com/spack/spack/pull/25159

[2021-08-02 12:27] anilmartha commented on #580
@kiritigowda

We have a MI100 GPU. I was able to run the rocm/rocm-terminal:4.2 docker, but not the kiritigowda/ubuntu-18.04:mivisionx-level-5 docker. Btw, I was able to launch the docker container after building the docker from [this ](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/docker/mivisionx-on-ubuntu18.dockerfile)dockerfile.
For some reason, your digest key

[2021-08-02 16:54] kiritigowda commented on #580
@anilmartha I have deleted the old tags and created newer tags. I build all the newer level images from the dockerfiles [here](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/docker/ubuntu18)

Let me know if this works, else you might have to do a delete all old docker images and pull again.

[code]

With the latest updates

[code]

Remove docker images

[code]

[2021-08-03 03:26] kiritigowda commented on #583
@haampie thanks for pointing out this issue, #584 will solve this issue.

[2021-08-03 04:00] kiritigowda commented on #580
@anilmartha - if the issue persists or if you have problems with the docker, please reopen this issue.

[2021-08-03 04:00] #580 closed

[2021-08-03 04:45] kiritigowda opened #585 "VX_NN - Link With MIOpen & MIOpenGEMM"
VX_NN lib built with the relative path to MIOpen Lib should contain an absolute path.

[2021-08-03 04:47] kiritigowda commented on #583
#584 merged

[2021-08-03 04:47] #583 closed

[2021-08-03 13:00] haampie commented on #583
Thank you!

[2021-08-17 16:41] kiritigowda commented on #486
TOT Master Conformance Failures - @LakshmiKumar23 @hansely @asalmanp looks like we missed a regression for OpenCL

[code]

[2021-08-17 16:50] kiritigowda opened #593 "OpenVX HIP Backend - Warning with Level 2"
@asalmanp getting missing Python3 messages - `/usr/bin/env: 'python3': No such file or directory`

[code]

[2021-08-17 23:24] kiritigowda commented on #558
@LakshmiKumar23 this PR #592 fixes this issue, can you verify.

[2021-08-18 20:00] kiritigowda opened #597 "Vision Tests - Tests Missing"
**Issue** - Vision Test in V 1.2.1 had all functions from 1.3 listed in the performance test. With V 1.2.2 most of the nodes are missing.

List of all tests - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/c96cf7f6059b983ad92334f1a66a3927dd5307aa/tests/vision_tests/runVisionTests.py#L92

**resolution** - need to add all nodes in performance tests.

[2021-08-18 21:21] kiritigowda commented on #558
Fix - #596 merged into TOT - need to unset env variable to close this issue - agoSetEnvironmentVariable("AGO_BUFFER_MERGE_FLAGS", "1")

[2021-08-23 23:45] kiritigowda commented on #486
1.3 TOT CTS Updates - see artifacts for details - NO FILTERS - [Jenkins](http://math-ci.rocm.amd.com/blue/organizations/jenkins/compute-rocm-dkms-no-npi-hipclang%2FShort-GPUOpen%2FMIVisionX/detail/PR-594/5/artifacts)

@hansely @LakshmiKumar23

@asalmanp can we remove the filters from TOT?

## Backend - OpenCL

### CPU

[code]

### GPU
[code]

## Backend - HIP

### CPU
[code]

### GPU
[code]

[2021-08-23 23:49] kiritigowda commented on #593
Will adding python3 to level 2 HIP be good? @asalmanp - then I can close this issue.

[2021-08-24 16:58] asalmanp commented on #593
@kiritigowda Yes, it will be good enough as python3 is indirectly needed for hipcc (i.e., hipcc calls "rocm_agent_enumerator" which uses python3).

[2021-08-24 16:59] kiritigowda commented on #593
Cool, I will add this and close the issue.

[2021-08-24 17:02] asalmanp commented on #486
@kiritigowda We can remove the filters for the tests that are passing for GPU backends. For the failing tests cases, let's keep the filters until we fix them in ToT.

[2021-08-26 20:52] kiritigowda opened #609 "SLES - NN Work Flow Failure"
SLES or other OS containing multiple versions of OpenCL will fail VX_NN Tests
[code]

[2021-08-31 04:41] kiritigowda commented on #593
#611 adds python3 to level-2

[2021-08-31 04:41] #593 closed

[2021-09-02 18:45] kiritigowda commented on #585
@paveltc this is the issue with TOT.

[2021-09-02 22:36] kiritigowda commented on #585
A close look into this issue. The build folder seems to contain all the necessary info, but when the library is installed, the libraries seem to have lost the links. @asalmanp @paveltc @rrawther

[code]

[2021-09-03 22:34] kiritigowda commented on #585
With PR #615 - This issue has been fixed - @asalmanp @paveltc

[code]

[2021-09-03 22:34] #585 closed

[2021-09-03 22:38] kiritigowda commented on #572
With #614 - The Backend support for OCL & HIP is added

[2021-09-03 22:38] #572 closed

[2021-09-03 22:41] kiritigowda commented on #558
TOT Master - CPU CTS Results - Fixed as a regression issue

[code]

[2021-09-03 22:41] #558 closed

[2021-09-07 21:13] kiritigowda commented on #609
SLES NN Updates - PR #616 merged
[code]

[2021-09-07 21:13] #609 closed

[2021-09-07 23:09] kiritigowda commented on #326
@LakshmiKumar23 any updates on this?

[2021-09-07 23:10] kiritigowda commented on #399
@paveltc can you verify this is fixed with TOT?

[2021-09-07 23:18] paveltc commented on #399
@kiritigowda I'll take a look at it this week sometime. Is this Caffe? ONNX?
As far as I know, this has been fixed for a while but I will run the tests again when I get a chance.

[2021-09-07 23:46] kiritigowda commented on #458
PR #618 Fixes all the warnings
[code]

[2021-09-07 23:46] #458 closed

[2021-09-07 23:52] kiritigowda commented on #399
It's for the caffe flow

[2021-09-08 15:11] asalmanp commented on #566
@kiritigowda No, it's not fixed yet.

[2021-09-10 22:12] kiritigowda commented on #566
Fixed with PR #620

[2021-09-10 22:12] #566 closed

[2021-09-16 20:24] kiritigowda commented on #486
TOT - Master 1.3 CTS Results

## OpenVX 1.3 - CPU
[code]

## OpenVX 1.3 - GPU **OpenCL**
[code]
## OpenVX 1.3 - GPU **HIP**
[code]

[2021-09-24 17:16] kiritigowda commented on #486
TOT Master CTS 1.3 Results - c5eaac0

## CPU
[code]

## GPU - OpenCL
[code]

## GPU - HIP
[code]

[2021-09-28 22:15] kiritigowda opened #635 "CI:Jenkins - Training Test for rocAL"
* Add Training with rocAL to CI Flow
* Training with rocAL
  + Classification
  + Detection
  + Segmentation ?

[2021-09-30 05:38] kiritigowda commented on #486
LaplacianPyramid CTS has been updated. With the latest GitHub CTS this issue should be fixed. @hansely

[2021-10-01 19:23] kiritigowda commented on #486
With PR - #636

## OCL Results

[code]

[2021-10-01 21:33] LakshmiKumar23 opened #639 "Docker - Pytorch docker file - build issue"
- Fails to build FFMPEG under pytorch docker

[code]

- Need to build MIVisionX with ``` cmake -DNEURAL_NET=OFF ../```. Currently not implemented

[2021-10-06 18:39] kiritigowda commented on #486
@asalmanp @LakshmiKumar23 @hansely - all fixes to the CTS are pushed and freeze for all 1.3.0

only errors left to look at

* Graph.ImageContainmentRelationship - @LakshmiKumar23
* vxMapRemapPatch.MapRandomRemap - @asalmanp in OCL/HIP random

[2021-10-06 21:02] kiritigowda commented on #399
Closing this issue as FP16 issues not found.

[2021-10-06 21:02] #399 closed

[2021-10-07 01:20] kiritigowda commented on #639
PR #642 merged

[2021-10-07 01:20] #639 closed

[2021-10-08 17:49] kiritigowda commented on #486
With PR #643 - the TOT master will only have a random failure of vxMapRemapPatch.MapRandomRemap

[2021-10-08 17:51] kiritigowda commented on #326
@LakshmiKumar23 are there any scripts in TOT that do not support python3?

[2021-10-08 17:55] LakshmiKumar23 commented on #326
@kiritigowda The model compiler and setup is updated. Need to look into all the apps. Some of it haven't been updated I think. Plus the training app doesn't run on TOT master, because of changes in rocAL. But maybe that can be created as a separate issue for the rocAL apps, and I can check on the remaining apps

[2021-10-08 18:02] kiritigowda commented on #326
@LakshmiKumar23 it would be better to have a new issue that is more targeted. I feel this issue is too generic. We can close this if you open a new one.

[2021-10-08 18:08] LakshmiKumar23 commented on #326
@kiritigowda Sounds good. I just went through our apps folder. Only the two listed below are python apps. The rest is c++

1.  [python_inference_analyzer](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/apps/mivisionx_inference_analyzer)  already supports Python3
2. [mivisionx_validation_toolkit](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree

[2021-10-08 18:09] #326 closed

[2021-10-08 18:09] LakshmiKumar23 opened #644 "MIVisionX App update - Validation toolkit"
Need to update [mivisionx_validation_toolkit](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/apps/mivisionx_validation_tool) after MCW submits new python package for rocAL.
Also needs to use python3 with this update

[2021-10-08 18:35] LakshmiKumar23 commented on #597
@kiritigowda Turns out these tests are commented out due to lack of support from runVX for some of the tests. Maybe can combine this issue and issue #578 once @asalmanp figures out what the missing functionalities are.

[2021-10-22 18:06] kiritigowda opened #658 "CI: Code Coverage - Turn On for HIP Backend"
Needs the - `${codeCovFlags}` added to CMake command for HIP backend

[2021-11-02 16:37] kiritigowda opened #665 "HIP Backend: OpenVX 1.3 - CMake Warning"
[code]

[2021-11-02 16:38] kiritigowda commented on #665
Also noticed that `openvx-hip` is generated

[code]

[2021-11-02 17:40] asalmanp commented on #665
the openvx-hip is built as an object library (please see [here](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/amd_openvx/openvx/hipvx/CMakeLists.txt#L39)). So this is correct.

[2021-11-05 06:50] kiritigowda opened #669 "rocAL - Warnings Injected into TOT"
Warnings on Ubuntu 20.04

@r-abishek, please take a look at this.

[code]

[2021-11-08 18:21] LakshmiKumar23 opened #674 "MIVisionX.sln file - missing vx_winml"
@kiritigowda Can you please modify windows to build vx_winml.lib. The apps are failing because this library file is not found

[2021-11-08 18:30] kiritigowda commented on #674
@LakshmiKumar23 this is only for WinML flow and not the main?

[2021-11-08 18:31] kiritigowda commented on #674
Use this SLN - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/amd_openvx_extensions/amd_winml.sln

[2021-11-08 19:32] LakshmiKumar23 commented on #674
@kiritigowda Created PR #675

[2021-11-08 20:56] #674 closed

[2021-11-08 22:26] paveltc opened #677 "rocAL - Rename rali to rocal in MIVisionX/utilities/rali"
We need to rename all of the folders and files with rali in the name to rocal in the MIVisionX/utilities/rali folder.
We need to check if this will break any of the current workflow.
I will take care of renaming the unit and performance tests and updating the paths.

[2021-11-09 06:17] drvshavva opened #679 "Help Needed - CV & ML on AMD E9171 GPU"
Hi, is ti possible to use MIVisionX with amd e9171 gpu ? If can not, do you know, how can use nnef or onnx file with this gpu ?

[2021-11-09 23:05] kiritigowda opened #681 "OpenVX: OCL - random failure"
Failing CTS test - `vxConvertDepth.BitExact/5/WRAP/1x1 U8->S16`

[code]

[2021-11-09 23:12] kiritigowda commented on #679
@drvshavva what operating system is this machine configured? MIVisionX is supported on all ROCm supported hardware. We have not personally tested our software on this GPU, but you can try it with our build and install instructions. Are you looking to use OpenVX for inference?

[2021-11-10 06:14] drvshavva commented on #679
yes, I want to use OpenVX for inference in this GPU

[2021-11-10 22:15] kiritigowda commented on #679
@drvshavva here is a tutorial to use inference with OpenVX - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/samples/model_compiler_samples#mivisionx-model-compiler-samples

Please try this and let me know if you have any problems.

[2021-11-11 05:49] drvshavva commented on #679
thank you so much. I will share with you when I try and get results.

[2021-11-11 19:02] kiritigowda commented on #679
Thanks! Please share the results and any feedback with the flow.

[2021-11-12 22:28] kiritigowda commented on #669
@rrawther can you please take a look at this?

[2021-11-17 02:59] paveltc opened #687 "rali_unittests fails to build with HIP backend"
rali_unittests app fails to build with the HIP backend.
Throws error:
fatal error: rali_api.h: No such file or directory
 #include "rali_api.h"

[2021-11-17 16:31] asalmanp commented on #687
@paveltc is this a regression? if so, could you please help find the PR that broke the rail_unittests?

[2021-11-18 15:13] paveltc commented on #687
@asalmanp I can no longer reproduce this issue on my system with TOT.

[2021-11-18 16:38] #687 closed

[2021-11-23 00:19] kiritigowda commented on #658
CentOS 8 - missing LCOV package

[2021-11-30 15:52] kiritigowda commented on #679
@drvshavva any updates on this issue? Were you able to install and run any samples?

[2021-11-30 15:53] kiritigowda commented on #486
@hansely @LakshmiKumar23 @asalmanp can we close this issue?

[2021-11-30 15:53] kiritigowda commented on #541
@hansely can you look at this issue?

[2021-11-30 15:54] kiritigowda commented on #644
@LakshmiKumar23 is this ready? can we close this issue?

[2021-11-30 16:24] asalmanp commented on #486
@kiritigowda Yes, we can close this issue.

[2021-11-30 17:54] LakshmiKumar23 commented on #644
@kiritigowda Python API isn't ready yet.

[2021-11-30 18:18] kiritigowda commented on #486
TOT passes all 1.3 Vision Functions Feature Set tests.

[2021-11-30 18:18] #486 closed

[2021-11-30 18:19] kiritigowda commented on #644
add the feature required to this issue and we can track it.

[2021-11-30 18:23] LakshmiKumar23 opened #698 "rocAL - New Python APIs"
add the feature required to this issue and we can track it.

_Originally posted by @kiritigowda in https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/issues/644#issuecomment-982897673_

[2021-11-30 18:23] LakshmiKumar23 commented on #698
@kiritigowda MCW will make a PR for this

[2021-11-30 18:25] kiritigowda commented on #698
@LakshmiKumar23 please follow-up with MCW.

[2021-11-30 18:26] LakshmiKumar23 commented on #698
Yes, @rrawther and I are tracking it

[2021-12-07 10:51] drvshavva commented on #679
hi, my team changed the decision and bought another gpu so I couldn't. But I am very grateful for your help and answers.

[2021-12-07 10:51] #679 closed

[2021-12-08 03:09] LakshmiKumar23 commented on #669
@Indumathi31 is looking into this. Please use a [ub20 docker](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/docker/ubuntu20
) to debug the issue

[2021-12-09 21:01] kiritigowda commented on #665
@asalmanp still seeing this warning on Ubuntu 20.04

[code]

[2021-12-13 18:06] rrawther commented on #541
@hansely: Is this test case only failing in OpenCL? In that case why can't we apply the same fix we have for HIP backend to OpenCL as well?

[2021-12-20 19:39] kiritigowda commented on #541
Fixed with #707

[2021-12-20 19:39] #541 closed

[2021-12-20 19:41] kiritigowda commented on #669
#716 - to fix the issue

[2021-12-20 20:06] #669 closed

[2021-12-20 20:08] kiritigowda commented on #597
@paveltc can you add a runvx feature to process "NULL"

[2021-12-20 23:35] kiritigowda commented on #681
issue not observed on tot

[2021-12-20 23:35] #681 closed

[2021-12-23 20:36] kiritigowda commented on #665
Issue fixed with #720

[2021-12-23 20:40] kiritigowda commented on #665
Issue will be fixed when develop is merged into master

[2021-12-23 20:40] #665 closed

[2021-12-29 18:17] kiritigowda commented on #698
#724 added to fix this

[2022-01-21 16:50] rrawther opened #736 "rocAL - Enabling DBGINFO in CMakeLists.txt for compiler errors"

[2022-01-25 11:56] srekolam opened #740 "Build Failure seen for mivisionx@4.5.0 in Spack environment when using with cmake@3.22.x"
I am observing build failure when building the mivisionx@4.5.0 from the sources in the spack environment. I have root caused it to cmake@3.22.x . the latest version of the cmake being used the spack:develop branch is the cmake@3.22.1 . The mivisionx@4.5.0 or mivisionx@4.3.1 is able to build succesfully when used with cmake@3.21.4 .
seeing something as below for 4.3.1,
 [ 21%] Building CXX object a

[2022-01-28 21:10] kiritigowda commented on #740
@srekolam can you try TOT master with cmake 3.22.X ?

[2022-01-31 11:59] srekolam commented on #740
@kiritigowda  usually we use the sources from the release and build. If you have a commit-id that fixes the issue, i can use that as a patch for 4.5.0 or 4.5.2 release. Let me know if that works ? Otherwise, i can re-test it for 5.0 release once the sources are tagged.

[2022-01-31 21:02] kiritigowda commented on #740
@srekolam the TOT master and the 5.0 release branch have added the support for cmake 3.22.X. Please verify and let us know.

[2022-02-02 02:11] kiritigowda commented on #456
Support for OpenCV 4.X added with PR - #749

[2022-02-02 23:36] kiritigowda commented on #456
OpenCV 4.X Support on TOT Master.

[2022-02-02 23:36] #456 closed

[2022-02-04 23:07] rrawther opened #758 "amd_media - encoder is not producing correct output"
Output encoded file is showing green frames

[2022-02-04 23:07] rrawther commented on #736
This is fixed

[2022-02-04 23:07] #736 closed

[2022-02-05 01:46] kiritigowda opened #759 "OpenVX - vxCreateThreshold runtime failure"
Runtime Failure
[code]

Failure
[code]

Fails at - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/fab7c1cd22036570ae6da3c9fd0b1442e3681928/amd_openvx/openvx/ago/ago_util.cpp#L1515

## Test Case

canny cpp test - samples/c_samples/canny

[2022-02-05 01:48] kiritigowda commented on #758
@rrawther can you give us a test case?

[2022-02-07 20:33] kiritigowda commented on #759
@LakshmiKumar23 we still have the `vxCreateThreshold` API - we might have to move this to backward compatibility issue, lets review

[2022-02-07 22:41] LakshmiKumar23 commented on #759
@kiritigowda Yes, we should move it. The new spec doesn't support it at all

[2022-02-08 00:51] hansely commented on #759
@kiritigowda @LakshmiKumar23 App working after the recent fix

[2022-02-16 23:17] kiritigowda opened #769 "rocAL - OpenCV 4.X Support"
rocAL does not support the latest OpenCV Release - V4.5.5

[code]

[2022-02-17 00:12] kiritigowda commented on #769
PR #768 Fixes this issue

[2022-02-17 04:52] kiritigowda commented on #769
#770 fix Master

[2022-02-17 04:52] #769 closed

[2022-02-17 04:52] kiritigowda commented on #740
@srekolam any updates on this issue? Is this fixed with TOT?

[2022-02-17 04:53] kiritigowda commented on #677
#766 to fix this issue

[2022-02-17 04:54] kiritigowda commented on #597
any updates on this issue?

[2022-02-17 05:02] srekolam commented on #740
I am currently updating the rocm recipes for 5.0.0 release. I will keep you updated once i have verified the same. or if you have commitid i can verify it on the existing release too

[2022-02-17 05:28] acxz opened #771 "OpenCL - ArchLinux: Link to Generic OpenCL Lib"
Error Log with `-DLOOM=ON` (default behavior)

[code]

cmake output:
[code]

sysinfo:
OS: Archlinux
cmake: 3.22.2

[2022-02-17 05:41] kiritigowda commented on #771
@acxz looks like the link error to OpenCL 2.2. Can you check if the CMakeList log links to rocm OpenCL or generic OpenCL?

[2022-02-17 05:52] acxz commented on #771
Yep looks like ur rite:

`-- Found OpenCL: /lib/libOpenCL.so`

Should I be using `miopen-opencl`?

[2022-02-17 18:27] kiritigowda commented on #771
FindOpenCL behavior issue

[code]

[2022-02-18 14:40] srekolam commented on #740
i just verified that the issue is resolved when using cmake-3.22.2 for mivisionx for rocm-5.0.0 release. Thanks for looking into it and providing the fix. i will be upstreaming the recipe updates soon.

[2022-02-18 14:40] #740 closed

[2022-02-19 16:52] acxz opened #774 "[amd_media] Build error with `ffmpeg>4`"
[code]

sysinfo:
OS: ArchLinux
ffmpeg: 5.0.1
gcc: 12.1.0

[2022-02-23 20:48] kiritigowda commented on #677
@paveltc will you change the folder names here - https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/tree/master/utilities/rali ? or the unit test folder is good enough for this issue?

[2022-02-24 04:39] anilmartha opened #778 "Dockers - HIP Backend: Unable to find code object for all current devices"
I have built the mivisionx docker using this [dockerfile ](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/docker/mivisionx-on-ubuntu18.dockerfile).

rocminfo inside docker as follows:
[code]

When running canny example seeing below error.
[code]

We are using MI100 gpu. From [this](https://github.com/RadeonOpenCompute/ROCm#supported-gpus-1), I see that the MI100 is

[2022-02-24 18:19] asalmanp commented on #778
@anilmartha please set this environment variable (**export HCC_AMDGPU_TARGET=gfx908**) in the docker filer before running your test.

[2022-02-24 18:27] kiritigowda commented on #778
@asalmanp should we add this to docker instructions?

[2022-02-24 23:09] rrawther opened #779 "amd_media - add hwencode mode through vaapi"

[2022-03-04 12:34] anilmartha commented on #778
@asalmanp after adding export HCC_AMDGPU_TARGET=gfx908 in dockerfile, I was able to run the application successfully. Can we add this info in dockerfile or readme?

[2022-03-04 17:39] rrawther commented on #758
Resolved

[2022-03-04 17:39] #758 closed

[2022-03-04 18:22] rrawther commented on #459
This issue is fixed. Please try the following gdf to decode elementary stream
import vx_amd_media
data vid1 = scalar:STRING,"1,file.264:0"
data nvimg = image:w,h,NV12:write,output.yuv
data loop = scalar:INT32,0
data opencl_out = scalar:INT32,0
node com.amd.amd_media.decode vid1 nvimg NULL loop opencl_out

runvx -frames:<#framestodecode> file decoder.gdf

Please view the output.yuv file for the dec

[2022-03-04 18:23] rrawther commented on #459
@qianqing13579 @kiritigowda can you close this issue?
It is working in the develop branch

[2022-03-05 00:44] #459 closed

[2022-03-22 00:59] kiritigowda commented on #778
PR #791 should fix this issue - @asalmanp can you check this with Ubuntu-20.04

[2022-03-25 23:21] kiritigowda commented on #778
The fix for this merged into TOT - @anilmartha please reopen the issue if find problems with the updated dockerfiles.

[2022-03-25 23:21] #778 closed

[2022-03-27 12:42] zjin-lcf opened #795 "Setup Script - install MIVX without root permission"
The script MIVisionX-setup.py needs sudo permission. I don’t have sudo permission on a machine where ROCm has been installed at /opt/rocm. Thank you for making a script that does not need root permission for users.

[2022-03-28 21:52] LakshmiKumar23 opened #797 "Model Compiler - ONNX model conversion"
The binaries created from onnx_to_nnir.py are all 0 bytes.
[code]
All the files in the directory is 0 bytes.
Similarly with squeezenet V2 onnx model.

Following which anntest fails with:
[code]

[2022-03-28 22:19] kiritigowda commented on #797
TOT CI - ONNX Failing to run with error `ERROR: fatal error occured at /var/jenkins_home/workspace/g_Short-GPUOpen_MIVisionX_PR-796/vHB5hOSe8/mivisionx/amd_openvx_extensions/amd_nn/src/convolution_layer.cpp#417`

[code]

[2022-03-28 23:53] kiritigowda commented on #797
The HIP Backend is passing. Currently failing the OCL backend. @LakshmiKumar23 @hansely -- TOT CI logs for more details

[code]

[2022-03-29 00:00] LakshmiKumar23 commented on #797
@kiritigowda @hansely these are 2 different issues. Seems like one is some MIOpen and one is with V2 Onnx models

[2022-04-01 05:47] kiritigowda commented on #797
PR #801 -- Addresses the ONNX OCL failure.

[2022-04-01 19:25] kiritigowda opened #802 "VX_NN - Inference Issues"
List of issues observed - List below to reproduce

* **caffe-resnet152** - Batch size 16 - `HIP` Backend on Ubuntu `20.04`
[code]
* **caffe-xyznet** - Batch size 32 - `HIP` Backend on Ubuntu `20.04`
[code]
* **caffe-yolov3** - Batch size 2 - `HIP` Backend on Ubuntu `20.04`
[code]
* **caffe-yolov3** - Batch size 4 - `HIP` Backend on Ubuntu `20.04`
[code]

[2022-04-01 19:29] kiritigowda commented on #802
@hansely - Please look into `kernel com.amd.nn_extension.upsample_nearest_layer exec failed (-2:(null))` with YoloV3

[2022-04-01 19:33] kiritigowda commented on #802
@paveltc -- need to track these nn issues.

[2022-04-11 19:35] kiritigowda opened #810 "MIGraphX EXT - CMakeList Warning"
On TOT Develop Branch -- Building with OpenCL Backend without MIGraphX installed.

[code]

[code]

[2022-04-13 18:21] LakshmiKumar23 opened #813 "rocAL - cascaded augmentation error"
@swetha097 Issue while running PYTHON_UNIT_TEST.sh. The last few cascaded augmentations fail on GPU with this error.
[code]

[2022-04-13 18:24] LakshmiKumar23 commented on #813
To be fixed in a separate PR apart from #724

[2022-04-13 19:41] kiritigowda commented on #810
@asalmanp yes, if the HIP warning with OCL would be confusing. Can we also add the MIGraphX install with deps? That's the only way the CI can test the build.

[2022-04-13 19:42] kiritigowda commented on #797
@LakshmiKumar23 can you verify if this issue is resolved?

[2022-04-13 21:04] LakshmiKumar23 commented on #797
@kiritigowda Yes OCL ONNX runs successfully with runNeuralNetworkTests.py

[2022-04-14 22:18] #810 closed

[2022-04-18 21:41] kiritigowda opened #816 "rocAL - Warning on TOT Develop"
-- The C compiler identification is GNU 9.4.0
-- The CXX compiler identification is GNU 9.4.0

[code]

[2022-04-21 17:36] LakshmiKumar23 commented on #816
@swetha097 Can you look into this?

[2022-04-22 19:32] kiritigowda opened #819 "rocAL - OCL Backend: Failure"
Ubuntu 18.04 - CI failure
OCL backend

[code]

[2022-04-22 22:57] kiritigowda commented on #819
[code]

[2022-04-22 22:57] #819 closed

[2022-04-22 22:57] kiritigowda commented on #816
@LakshmiKumar23 any updates on this?

[2022-04-22 22:57] #813 closed

[2022-04-26 15:46] rrawther commented on #816
I saw this. It happened with the recent PR merge. I will fix it

[2022-04-27 18:57] kiritigowda commented on #816
#823

[2022-04-27 19:09] #816 closed

[2022-04-27 19:11] kiritigowda opened #824 "CMakeList Warnings - TOT Master"
*******************************************************************************
*------------------------------- ROCMChecks WARNING --------------------------*
  Options and properties should be set on a cmake target where possible. The
  variable 'CMAKE_CXX_COMPILER' may be set by the cmake toolchain, either by
  calling 'cmake -DCMAKE_CXX_COMPILER="/opt/rocm/bin/hipcc"'
  or set in a toolchain f

[2022-04-27 22:56] tralfamadude opened #826 "make build failure on MacOS 12.3"
Following the instructions for MacOS 12.3, on step 4 (make, after cmake) the following errors appear (seems to be undeclared identifier, too few args, asm error):

`[  1%] Building CXX object amd_openvx/openvx/CMakeFiles/openvx.dir/ago/ago_drama.cpp.o
clang: warning: argument unused during compilation: '-msse4.2' [-Wunused-command-line-argument]
In file included from /ML_related/ws/MIVisionX/amd_o

[2022-04-27 23:06] tralfamadude commented on #826
Additional info:  arm64

The first (harmless) warning is about -msse4.2  which is an Intel directive and not useful for ARM.

[2022-04-29 22:50] LakshmiKumar23 commented on #802
@kiritigowda I thought the clang14 issue was fixed on develop?
I still see it with onnx squeezenet. Can you please check?

[2022-04-30 01:18] tralfamadude commented on #826
@kiritigowda  Any suggestions for getting MIVisionX working on MacOS on ARM64?

[2022-04-30 11:24] kiritigowda commented on #826
@tralfamadude -- MIVisionX is only supported with `x86_64`/`AMD64` architecture. You can install `Rosetta 2` to emulate x86 code on ARM. Follow this issue for info -- https://github.com/Homebrew/brew/issues/9173

[2022-05-02 19:02] srekolam opened #830 "SPACK - CMakeList: directory layout not compatible"
I looked at the CMakeLists.txt and in many places there is assumption  that all of the rocm packages are installed next to each other in a common root like
/opt/rocm
  OpenCL
  HIP
For Spack installation this does not hold, since the names are versioned.
In Spack, Opencl package is installed in install prefix path that is something like below -
/spack/opt/spack/linux-centos8-skylake_avx512/gcc-8.4

[2022-05-03 17:10] kiritigowda commented on #826
@tralfamadude hope this has resolved your issue. Please reopen the issue if you are facing build issues with the x86_64 setup.

[2022-05-03 17:10] #826 closed

[2022-05-03 17:24] kiritigowda commented on #759
OpenVX 1.3 Support on TOT and OpenVX 1.0.1 support with MIVisionX-lite

[2022-05-03 17:24] #759 closed

[2022-05-03 17:25] kiritigowda commented on #698
@LakshmiKumar23 is this issue resolved?

[2022-05-03 17:57] LakshmiKumar23 commented on #698
@kiritigowda Yes, this was resolved with #724 and #817

[2022-05-03 17:57] #698 closed

[2022-05-03 21:13] kiritigowda commented on #830
@srekolam is your build script using TOT Master or some other branch?

[2022-05-03 23:49] srekolam commented on #830
i used the rocm-5.0.2 source archive for the above. I have patched it in my spack recipe for some of the above issues mentioned but when i compile it for backend=HIP i see a build failure. the backend=opencl succeeds . I have also tried the rocm-5.1.0 sources for mivisionx and see same issue
[mivisionx-5.1.0-backend_HIP-spack-build-out.txt](https://github.com/GPUOpen-ProfessionalCompute-Libraries/

[2022-05-09 17:20] LakshmiKumar23 commented on #644
Fixed by #827

[2022-05-09 17:35] paveltc commented on #802
@kiritigowda I can repro the issue with resnet152, will try xyznet next.

[2022-05-09 21:34] kiritigowda commented on #824
PR #833 fixes this issue. @paveltc can you verify this?

[2022-05-09 21:39] kiritigowda commented on #824
[code]

[2022-05-09 23:07] kiritigowda commented on #830
@srekolam can you test with this PR -- https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/pull/833

[2022-05-09 23:23] srekolam commented on #830
sure..  will do.

[2022-05-10 17:18] #644 closed

[2022-05-11 04:21] #824 closed

[2022-05-11 04:40] kiritigowda opened #837 "Setup & Docker - Updates for NN Deps"
`MIVisionX-Setup` & `Docker files` need updates to install NN deps with ROCm `5.1.1+`

[2022-05-13 21:26] kiritigowda commented on #837
PR #841 solves this issue

[2022-05-13 21:26] #837 closed

[2022-05-25 16:09] LakshmiKumar23 opened #845 "README issues"
@kiritigowda The main page README seems to have a linking issue.
![image](https://user-images.githubusercontent.com/27569995/170308152-aec5b4dd-d34f-478b-a603-cf3bdd473304.png)

[2022-05-26 20:00] kiritigowda commented on #845
@LakshmiKumar23 close this issue if #846 fixes this.

[2022-05-26 21:24] #845 closed

[2022-05-27 23:22] kiritigowda opened #849 "Inference Support - Ubuntu 18.04 (HIP/OpenCL)"
Ubuntu `18.04` default Python3 version `3.6.X` does not support pip3 install `protobuf onnx`. This does not allow `CAFFE` & `ONNX`  model conversions.

Continued support for U18 inference needs additional steps for both HIP/OpenCL. Should we move to Ubuntu `22.04` going forward?

[code]

[code]

[2022-06-01 21:37] kiritigowda commented on #849
@rrawther @asalmanp -- For Ubuntu `18.04` need to use

[code]

[2022-06-02 00:43] kiritigowda commented on #849
Issue resolved with PR #850

[2022-06-02 00:43] #849 closed

[2022-06-03 00:12] kiritigowda commented on #795
@zjin-lcf -- as the setup currently installs the Linux packages which are required (i.e -- [install](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/834065559f213d8b188b63c7b94888c90fb6d293/MIVisionX-setup.py#L224)), this required admin access. But the workaround for this is to run the setup inside a docker/singularity or use pre-built dockers -- `docker pull mivisionx/ubun

[2022-06-03 18:51] zjin-lcf commented on #795
Thanks.

[2022-06-03 18:51] #795 closed

[2022-06-03 19:20] kiritigowda commented on #830
@srekolam any updates on this?

[2022-06-03 19:28] srekolam commented on #830
@kiritigowda  i will need @5.2.0 sources for verifying it. I will update once those are available and i am able to update the spack rcom recipes for rocm-5.2.0.

[2022-06-03 19:34] kiritigowda commented on #797
@LakshmiKumar23 can we close this issue?

[2022-06-03 19:38] kiritigowda commented on #802
@hansely can you verify if YoloV3 works for all batch sizes with TOT HIP/OpenCL

[2022-06-03 22:04] kiritigowda opened #852 "OpenCV 4.X Support - Apps & Samples"
[code]
[code]

[code]

[2022-06-04 00:26] kiritigowda commented on #802
# Error Updates

* caffe-resnet152 - Batch size 16 - HIP Backend on Ubuntu 20.04 -- FIX
[code]

* caffe-xyznet - Batch size 32 & above - HIP Backend on Ubuntu 20.04 -- maybe lack of memory on the board  -- @asalmanp  can you confirm this and reopen if this is something else.
[code]
* caffe-yolov3 - Batch size 2 - HIP Backend on Ubuntu 20.04 -- FIX
[code]

* caffe-yolov3 - Batch size 4 - HIP Backen

[2022-06-04 00:26] #802 closed

[2022-06-04 00:28] LakshmiKumar23 commented on #797
@kiritigowda The V2 onnx models still have issues. Can create a separate issue for that and close this

[2022-06-04 00:42] kiritigowda commented on #797
@LakshmiKumar23 will close this issue and you can open the related ONNX issue.

[2022-06-04 00:42] #797 closed

[2022-06-06 22:46] kiritigowda commented on #852
PR #854 -- Add OpenCV Support for `utilities/rali`

[2022-06-07 23:20] kiritigowda opened #858 "rocAL - CMakeList Warning [HIP Backend]"
CMakeList needs updates to provide consistent warnings

[code]

[2022-06-08 22:40] kiritigowda commented on #852
with updates to develop, this issue is resolved.

[2022-06-08 22:40] #852 closed

[2022-06-10 20:37] rrawther opened #861 "Upgrade ffmpeg to 4.4.x for AV1 decoder enablement."
AV1 encoding with and without HW acceleration is only supported in ffmpeg 4.4 versions and above. Also this needs installing libdav1d which worked only from source installation in my experement.
@kiritigowda : can you please try putting this in setup scripts.

[2022-06-10 22:12] kiritigowda commented on #861
@rrawther -- Testing with this version -- https://github.com/FFmpeg/FFmpeg/releases/tag/n4.4

Is this good?

[2022-06-14 22:37] kiritigowda commented on #861
FFMPEG -- `4.4.2` set as the default install. Missing libdAV1D install

[2022-06-15 20:58] kiritigowda opened #866 "Inference Server - HIP Backend"
[code]

[2022-06-21 07:10] kiritigowda opened #874 "HIP Backend - Include Files Link"
With ROCm 5.2 +. -- Need to use ${ROCM_PATH}/include

[code]

[2022-06-23 21:05] LakshmiKumar23 opened #879 "OpenCV 4.5 failure with Ub20.04"
OpenCV fails to read JPEG image with Ub20.04 and is an empty Mat.
Error seen
[code]

[2022-06-24 17:04] rrawther opened #880 "rocAL - augmentation output has bluish tint"
Need to investigate this issue

[2022-06-25 00:17] kiritigowda opened #881 "rocAL - warning on TOT"
[code]

[code]

[2022-06-27 16:13] LakshmiKumar23 commented on #881
@kiritigowda These warnings should be fixed in #838

[2022-06-28 00:26] kiritigowda opened #883 "Jenkins CI Failure - Vision Test"
GPU device -`gfx1030`
Backend - `OCL`
OS - `Ubuntu 20.04`/`CentOS 8`

Test Case -
`/opt/rocm/bin/runvx -frames:1000 -affinity:GPU -dump-profile node org.khronos.openvx.warp_perspective image:1920,1080,U008 "matrix:FLOAT32,3,3:INIT,{2;0.1;0;2;1.9;0;-1200;-360;1}" !NEAREST_NEIGHBOR image:1920,1080,U008`

[code]

[2022-06-28 20:35] kiritigowda opened #886 "Docker - Display enable [Ubuntu]"
`xhost +local:root`
`sudo docker run -it  --device=/dev/kfd --device=/dev/dri --cap-add=SYS_RAWIO --device=/dev/mem --group-add video --network host --env DISPLAY=unix$DISPLAY --privileged --volume $XAUTH:/root/.Xauthority --volume /tmp/.X11-unix/:/tmp/.X11-unix`

### Install
[code]

[2022-06-28 23:34] kiritigowda commented on #883
@asalmanp to run this test case do the following

[code]

## Output for CPU
[code]

[2022-07-05 18:01] kiritigowda opened #889 "rocAL - Install Path Errors"
CMakeList errors for rocAL

## FIX

* Include files
[code]

* Lib
[code]

* Scripts
[code]

[2022-07-05 18:02] kiritigowda commented on #889
@paveltc need to track this issue

[2022-07-07 20:01] kiritigowda opened #892 "OpenCL Backend - Include Link Warnings - ROCm 5.2 +"
[code]

[2022-07-09 17:12] acxz commented on #774
I tested this again with the latest rocm release `5.2.0` and I am still experiencing this error. @rrawther is it possible to look into this?

[2022-07-11 18:37] kiritigowda commented on #883
PR #893 -- Test case disable till fixed for GFX 1030 -- @paveltc

[2022-07-11 21:08] kiritigowda commented on #883
Failure reproducible on `GFX 906`

[code]

[2022-07-11 22:20] kiritigowda opened #895 "rocAL - Warnings"
rocAL not tested on OCL Backend

* Multiple Warnings
[code]
* Run Tests

[2022-07-11 22:22] kiritigowda commented on #892
Fix with PR #893

Use OpenCL - `/opt/rocm/lib/libOpenCL.so`
[code]

[2022-07-11 22:22] #892 closed

[2022-07-11 22:26] kiritigowda commented on #880
@LakshmiKumar23 any updates on this?

[2022-07-11 22:26] kiritigowda commented on #874
Fixed on TOT for HIP

[2022-07-11 22:26] #874 closed

[2022-07-11 22:27] kiritigowda commented on #866
Apps turned off for default build on TOT

[2022-07-11 22:27] #866 closed

[2022-07-11 22:27] kiritigowda commented on #830
@srekolam any updates on this issue? is this resolved?

[2022-07-11 22:28] LakshmiKumar23 commented on #880
@kiritigowda Not yet, let me confirm with MCW in tomorrow's meeting

[2022-07-11 22:29] kiritigowda commented on #677
Fixed on TOT

[2022-07-11 22:29] #677 closed

[2022-07-11 22:37] srekolam commented on #830
@kiritigowda , we are currently updating the spack recipes for 5.2.0. I will be able to update you with in next 2-3 days ..

[2022-07-11 23:23] kiritigowda commented on #883
[code]

[2022-07-12 13:48] srekolam commented on #830
i am able to build mivisionx for bothe HIP and OPENCL backend.. I will touchbase with you with regard amdrpp and rocAL
Below  are the list of libraries that are generated for OPENCL backend :
libopenvx.so        libvx_amd_media.so  libvx_loomsl.so     libvx_opencv.so     libvxu.so
The binaries below are generated for OPENCL backed -
loom_shell  mv_compile  runcl       runvx

I do see this though -

[2022-07-12 16:23] kiritigowda commented on #830
@srekolam thanks for the updates, I will look into this.

[2022-07-12 23:53] kiritigowda commented on #880
Re-open if seen

[2022-07-12 23:53] #880 closed

[2022-07-13 15:54] LakshmiKumar23 commented on #858
@kiritigowda do we still see this?

[2022-07-13 19:03] kiritigowda opened #898 "rocAL - `rali` reference used on TOT"
@paveltc -- `tests/smoke_tests/RALI/` test uses `rali`

[code]

@hansely - `./apps/mivisionx_validation_tool` - uses `rali` -- needs updated

[code]

@LakshmiKumar23 -- `/utilities/rocAL` -- use reference to old includes -- needs updated with CMakeList change pr #896

[code]
@LakshmiKumar23 -- rali also used at -- `/rocAL/rocAL/`
[code]

[2022-07-13 19:04] kiritigowda commented on #898
@asalmanp -- need these updated before we separate rocAL. Let's create a plan.

[2022-07-13 22:55] LakshmiKumar23 commented on #898
@kiritigowda @hansely the validation_app rali part was written by me. I can change it to mention rocal. It's only naming. the APIs I have already changed

[2022-07-13 22:57] LakshmiKumar23 commented on #898
@kiritigowda These line from ```/rocAL/rocAL/``` are intentional, until everyone has only the new version of rocal
[code]

[2022-07-13 22:59] LakshmiKumar23 commented on #898
@swetha097 @shobana-mcw We need to make sure these examples are working. It uses the old API.
[code]

[2022-07-13 23:18] LakshmiKumar23 opened #899 "docker - pytorch: fails to build"
@kiritigowda Seeing this error with the pytorch dockerfile
[code]

[2022-07-13 23:18] hansely commented on #898
@LakshmiKumar23 Can you also change the names under inference_control.py & README as well?

[2022-07-14 21:20] LakshmiKumar23 commented on #899
Fixed by PR #900

[2022-07-15 18:06] LakshmiKumar23 commented on #898
Fixed by PR #902

[2022-07-19 15:57] kiritigowda opened #907 "OpenVX - HIP Backend: centos8 && gfx1030 Build Failure"
Build Failure -- review log - http://math-ci.rocm.amd.com/blue/organizations/jenkins/compute-rocm-dkms-no-npi-hipclang%2FShort-GPUOpen%2FMIVisionX/detail/master/371/pipeline/2082
[code]
[code]

[2022-07-19 22:57] kiritigowda opened #908 "rocAL - CXX Compiler Issue"
rocAL sets CMAKE_CXX_STANDARD to `17`

https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/fd440c9ceb7e567c48964024f7de63299de814d4/rocAL/rocAL/CMakeLists.txt#L134

But sets CMAKE_CXX_FLAGS to `-std=gnu++14`

https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/fd440c9ceb7e567c48964024f7de63299de814d4/rocAL/rocAL/CMakeLists.txt#L230

@asalmanp any thoughts on

[2022-07-21 22:47] srekolam commented on #830
I will close this ticket. As discussed with @kiritigowda i will open couple of issues with the logs for
1. enabling rocAL and rpp library which currently is not building.
    NOTE: rocAL library requires AMD's rpp library, Not Found
-- NOTE: rocAL library requires TurboJpeg, Not Found
-- WARNING: rocAL module excluded
2. when backend=HIP is enabled, it was trying to find hard coded reference to th

[2022-07-21 22:47] #830 closed

[2022-07-22 04:10] kiritigowda opened #910 "OpenVX CTS - Random Failure"
This failure on CentOS 8 CPU & OpenCL Backend - more info -- http://math-ci.rocm.amd.com/blue/organizations/jenkins/compute-rocm-dkms-no-npi-hipclang%2FShort-GPUOpen%2FMIVisionX/detail/PR-905/5/pipeline/

[code]

[2022-07-22 18:50] kiritigowda commented on #908
CXX 17 features used in rocAL

[code]

[2022-07-22 19:10] #907 closed

[2022-07-22 19:11] kiritigowda commented on #908
@asalmanp -- seen in the comment above rocAL uses a few C17 features - PR #911 links to gnu+17

[2022-07-22 19:11] #908 closed

[2022-07-28 21:35] kiritigowda commented on #889
Fixed on TOT

[2022-07-28 21:35] #889 closed

[2022-07-28 21:38] kiritigowda commented on #898
@LakshmiKumar23 -- TOT Rali reference

[code]

[2022-07-28 22:33] LakshmiKumar23 commented on #898
@kiritigowda working on this. Will update with a PR

[2022-08-01 19:22] srekolam opened #917 "SPACK -- AMD RPP & rocAL: not found warning"
This is regarding building the mivisionx in spack. When tried with 5.2.0 sources, with both the backend=HIP and backend=OPENCL,i am seeing the below in the build log.

NOTE: FindAMDRPP failed to find -- amd_rpp
-- NOTE: FindTurboJpeg failed to find -- turbojpeg
-- hip::amdhip64 is SHARED_LIBRARY
-- Found HIP for rocAL: 5.2.0/spack/opt/spack/linux-centos8-skylake_avx512/gcc-8.4.1/hip-5.2.0-gbvm654a

[2022-08-01 20:23] LakshmiKumar23 commented on #898
@kiritigowda One more PR is required to address some more mentions of rali. I am working on it

[2022-08-04 22:23] kiritigowda commented on #917
@srekolam to build the full stack MIVisionX you can use TOT setup script to setup all the dependency requirements.

* HIP
[code]

* OpenCL
[code]

You can not built and install both backends on the same machine. You can either choose HIP or OpenCL. HIP is the default flow.

Let me know if this works.

[2022-08-05 00:06] kiritigowda commented on #895
* HIP Backend
[code]

[2022-08-12 21:54] srekolam commented on #917
Tried the rpp "0.96" version building through Spack.. I see some issues ..
1. ${ROCM_PATH}/${CMAKE_INSTALL_BINDIR}/hipcc inside the CMakelists.txt
2. Also HIP_INC hardcoded to $(ROCM_PATH}/inc  ..some hardcoded references to ROCM_PATH
3. From the Read.md cp half/half.hpp inside /usr/include/half - this will not work for spack..  We cannot copy the half inside /usr/include . I ran into half.hpp - n

[2022-08-24 19:03] LakshmiKumar23 opened #927 "rocAL - SSD training doesn't converge with MIVisionX TOT"
@swetha097 Opening an issue to track the SSD issue

[2022-08-25 23:32] LakshmiKumar23 commented on #898
@kiritigowda this issue can be closed. All references to rali should be renamed

[2022-08-25 23:37] #898 closed

[2022-08-29 17:10] rrawther opened #931 "rocAL - Add readme for video unit-test"

[2022-08-29 17:14] rrawther commented on #931
@fiona-gladwin, @shobana-mcw : can you add README for rocAL video pipeline unit tests.
We have a Jira ticket for DOC task and it is due now

[2022-09-07 22:49] LakshmiKumar23 commented on #879
@kiritigowda any update on this?

[2022-09-14 22:28] kiritigowda commented on #917
PR #948 to fix Turbo JPEG Find and RPP V0.96 to add support for SPACK Build

[2022-09-16 20:29] kiritigowda commented on #917
@srekolam let me know if TOT works for you.

[2022-09-16 22:28] srekolam commented on #917
sure.. I tried with 0.97 , and i still see the issue with half.hpp   /tmp/root/spack-stage/spack-stage-rpp-0.97-qrgscygsacqpq5wb2kdwz4uxwqtxnfqj/spack-src/src/include/common/rpp/op_k
            ernel_args.hpp:5:10: fatal error: 'half/half.hpp' file not found
     216    #include <half/half.hpp>
-Even when i looked the master branch at the https://github.com/GPUOpen-ProfessionalCompute-Libraries/r

[2022-09-16 22:35] kiritigowda commented on #917
@srekolam rocm has the half package which is installed at `/opt/rocm/include`

[code]

If you install this package `ROCM_PATH/include` will cover it

[code]

[2022-09-16 23:13] LakshmiKumar23 commented on #927
@swetha097 we are still seeing issues with --prefetch for NHWC script right?

[2022-09-16 23:14] LakshmiKumar23 commented on #931
can close with #939

[2022-09-16 23:15] LakshmiKumar23 commented on #858
@kiritigowda I think this is resolved. Can be closed

[2022-09-16 23:20] hansely opened #952 "rocAL - rocalGetImageName & rocalGetImageLabels function issue"
Tested with [rocAL_basic_test](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/master/utilities/rocAL/rocAL_basic_test/rocAL_basic_test.cpp#L190)

The rocalGetImageName() function doesn't return a single image file(It returns the whole batch)
The rocalGetImageLabel() function returns 0 for all the images.

[code]

[2022-09-16 23:45] #858 closed

[2022-09-16 23:47] kiritigowda commented on #895
@LakshmiKumar23 let me know if OCL build is tested with TOT

[2022-09-16 23:58] kiritigowda opened #953 "RunVX - Ubuntu 22.04 Warnings"
[code]

[2022-09-17 04:21] swetha097 commented on #927
I think there is no issue with convergence @LakshmiKumar23 , with the lastest rocm 5.2.3 docker, we see it going to a hanged state / leading to HSA_STATUS_ERROR_MEMORY_APERTURE_VIOLATION.
All trainings work on rocm5.2.0 docker

[2022-09-21 18:45] rrawther commented on #952
This should work with PR955 and correct use of the app.
./rocAL_basic_test ../../../../data/images/AMD-tinyDataSet/  ../../../../data/images/AMD-tinyDataSet/AMD-tinyDataSet-val.txt 0 0 224 224 1 1
Please make sure this work and close the issue

[2022-09-21 22:47] hansely commented on #952
@rrawther

The tag part is working but I still see the image name as one concatenated string.

[code]

[2022-09-22 18:36] #952 closed

[2022-09-22 18:36] hansely commented on #952
Fixed with PR #955

[2022-09-26 18:17] kiritigowda opened #958 "Security Warnings - OpenVX"
[code]

[2022-09-27 20:16] kiritigowda opened #961 "HIP Backend - ROCm 5.3 Warning & Error"
Snap shot of error & warnings on ROCm 5.3
* Distro
[code]
* Package Info
[code]
* Error
[code]
* Warnings
[code]

[2022-09-27 20:20] kiritigowda commented on #961
@asalmanp  -- Docker to use `compute-artifactory.amd.com:5000/rocm-plus-docker/compute-rocm-rel-5.3:45-ubuntu-22.04-stg2 `

[2022-09-28 19:51] kiritigowda commented on #961
HIP Message -- https://github.com/ROCm-Developer-Tools/hipamd/blob/9ce0cf841d512c6a2fa88616b47e3a4d59338ac5/hip-config.cmake.in#L232

[2022-10-03 16:44] asalmanp commented on #961
@kiritigowda [ROCm5.3](https://docs.amd.com/bundle/ROCm-Installation-Guide-v5.3/page/How_to_Install_ROCm.html) is now public. I tested with the public version on UB22.04, and I am not able to reproduce the warning related to the hip mentioned in this issue. Please test with the public version and let me know if you still see the issue. Thanks.

[2022-10-04 23:27] LakshmiKumar23 opened #966 "-DCMAKE_BUILD_TYPE=Debug flag not working"
Debug mode is not working on any of our libraries. The step in just falls through
@rrawther @kiritigowda @asalmanp

[2022-10-05 16:56] rrawther commented on #966
I think the MIVIsionX is built without debug information even when specifying CMAKE_BUILD_TYPE=Debug. This was working few months ago. Some of the recent CMake changes broke this. Currently we can't debug any MIVisionX libs using VScode

[2022-10-05 20:02] LakshmiKumar23 commented on #966
@rrawther Seems like we need to have gdb version 12.1 to debug HIP backend. Installation instructions
[code]

[2022-10-07 18:28] kiritigowda opened #969 "Setup - Updates & Missing Libraries"
OpenMP -

* Ubuntu -- libomp-dev

[2022-10-07 18:34] kiritigowda commented on #961
@asalmanp -- seeing this issue on ubuntu 22.04 base machine

[code]

[2022-10-10 18:44] kiritigowda commented on #953
PR #971 - fix deprecated warnings.

[2022-10-10 19:06] kiritigowda commented on #895
@LakshmiKumar23 can you please check these warnings

[code]

[code]

[2022-10-10 19:18] kiritigowda commented on #961
@asalmanp the warnings are fixed on docker by checking for ROCM_PATH in the env variable -- https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/blob/7575e4edaf3991e7a7cbf31973c15b0e59b0f4a4/MIVisionX-setup.py#L73

[2022-10-11 21:42] kiritigowda commented on #966
Add setup --debug option --- @kiritigowda

[2022-10-11 21:44] kiritigowda commented on #969
Add `--debug` option

[code]

[2022-10-11 21:45] kiritigowda commented on #966
Issue #969 to add the feature

[2022-10-11 21:45] #966 closed

[2022-10-11 21:46] kiritigowda commented on #961
Develop branch has the fix, which will be merged to master with #957

[2022-10-11 21:46] #961 closed

[2022-10-13 18:35] #931 closed

[2022-10-13 18:35] #927 closed

[2022-10-14 20:33] rrawther opened #977 "rocal_pybind - readme updates"
The current version points to non-existing files

[2022-10-18 20:41] rrawther opened #980 "rocal_pybind - wheel not reinstalling when there are changes to wheel package"
Happens when running run.sh shell script.
It looks at the version installed and won't reinstall if we make changes

[2022-10-18 20:56] rrawther commented on #980
@swetha097 : Can you look into this issue

[2022-10-19 09:58] swetha097 commented on #980
@rrawther ,
I have created a PR as a ix for this.
[https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/pull/982](https://github.com/GPUOpen-ProfessionalCompute-Libraries/MIVisionX/pull/982)

This uninstalls the wheel pkg, then installs it.

[2022-10-21 17:36] LakshmiKumar23 opened #985 "Setup - RPP not found with rocm 5.4"
@kiritigowda A couple of issues with ubuntu22 & rocm5.4:

- [ ] While building FFMPEG, it says
[code]
Solution:
[code]
Please add this to MIVisionX-setup script

- [ ] RPP not found even though it builds correctly
[code]

[2022-10-28 22:39] kiritigowda commented on #969
Setup -- U22.04 discontinued packages

[code]

Add
[code]

[2022-11-03 21:32] kiritigowda commented on #969
FFMPEG issue is related -- #985
[code]

[2022-11-03 21:32] kiritigowda commented on #985
Duplicate of #969

[2022-11-03 21:32] #985 closed

[2022-11-28 21:57] kiritigowda commented on #879
#994  fixes the JPEG load issues